/*
Theme Name:     Kleo Child
Theme URI:
Description:    Child theme for Kleo
Author:         SeventhQueen
Author URI:     http://seventhqueen.com
Template:       kleo
Tags:  one-column, two-columns, right-sidebar, fluid-layout, custom-menu, featured-images, post-formats, sticky-post, translation-ready
License: GNU General Public License
License URI: license.txt
*/

/*
* Please add your custom styles below
*/

/* Make all bold tags a darker color */
b, strong {color:#000000;}

/* Display Social Share button in center of posts */
div.article-content .essb_links_list { text-align:center !important;}

/* Change links in sidebars to blues */
div.sidebar .widget_display_topics a,
div.sidebar .widget_recent_comments ul#recentcomments li.recentcomments a,
div.sidebar .widget_display_replies a,
div.sidebar .widget_display_forums a,
div.sidebar .widget_item_likes_widget a, 
div.sidebar .widget_recent_entries a {color:#0a4366 !important;} 

div.sidebar .widget_display_topics a:hover,
div.sidebar .widget_recent_comments ul#recentcomments li.recentcomments a:hover,
div.sidebar .widget_display_replies a:hover,
div.sidebar .widget_display_forums a:hover,
div.sidebar .widget_item_likes_widget a:hover, 
div.sidebar .widget_recent_entries a:hover {color:#00b9f7 !important;}


/* Make bold tags deep red */
.bbp-reply-content strong {color:#444444;}

/* Align the "freshness" forum column heading to the right */
ul.forum-titles li.bbp-forum-freshness {text-align:right;}

/* Make the forum column titles more prominent */
ul.forum-titles li, 
li.bbp-header .bbp-reply-author,
li.bbp-header .bbp-reply-content 
{ 
font-family: Raleway;
font-size:15px; 
color: #990000;
font-weight: 600;
}

/* Change the font style and size of the individual forum titles such as "Destinations" "General Travel Discussion" etc ONLY on forum home page http://wegozo.com/travel-forums/ */
body.forum-archive.bbpress a.bbp-forum-title {
	font-family:Nothing You Could Do !important; 
	font-weight:600 !important;
	font-size: 22px !important;	
}

/* Forum titles */
li.bbp-forum-info a.bbp-forum-title {
color: #3399cc !important;
}

/* Align the counts of the topics and replies to the centre */
li.bbp-forum-topic-count, li.bbp-forum-reply-count { text-align: center !important;}


/* Organise Page Titles on Category Archive Pages */
body.archive.category .template-page h1.page-title {margin-bottom:0 !important;}
div.wegozo-cat-desc {margin-top:0 !important; margin-bottom:20px;}

/* Increase font size on the nav - not necessary as in config settings
.kleo-main-header .navbar-nav > li > a {
    font-size: 15px;
} */


/* FORUMS - Add icons before each forum. Refer to themes/kleo/assets/css/fontello.css AND http://fontello.com/ */

/* DESTINATIONS */
ul #bbp-forum-997 li.bbp-forum-info a.bbp-forum-title:before {
	font: 100% "fontello";
	content: "\e8d8";
	margin-left: .2em;	
	margin-right: 10px;	
}

/* EVERYTHING ELSE */
ul #bbp-forum-1721 li.bbp-forum-info a.bbp-forum-title:before {
	font: 100% "fontello";
	content: "\e833";
	margin-left: .2em;	
	margin-right: 10px;	
}

/* GENERAL TRAVEL DISCUSSION */
ul #bbp-forum-1011 li.bbp-forum-info a.bbp-forum-title:before {
	font: 100% "fontello";
	content: "\e860";
	margin-left: .2em;	
	margin-right: 10px;	
}

/* GROUP FORUMS */
ul #bbp-forum-1180 li.bbp-forum-info a.bbp-forum-title:before {
	font: 100% "fontello";
	content: "\e995";
	margin-left: .2em;	
	margin-right: 10px;	
}

/* TRAVEL GEAR AND THINGS TO BUY */
ul #bbp-forum-1013 li.bbp-forum-info a.bbp-forum-title:before {
	font: 100% "fontello";
	content: "\e81d";
	margin-left: .2em;	
	margin-right: 10px;	
}

/* TRAVEL SAFETY AND HEALTH ISSUES */
ul #bbp-forum-1006 li.bbp-forum-info a.bbp-forum-title:before {
	font: 100% "fontello";
	content: "\e938";
	margin-left: .2em;	
	margin-right: 10px;	
}



/* Make username and password fields the same length in sidebar widget */
div.bbp_widget_login input#user_pass, .bbp_widget_login input[type="password"]
{
 width: 100% !important;
}

/* Centrally align the Facebook login and normal login buttons */
.bbp-login-form .bbp-submit-wrapper {
    width: 100% !important;
}

.bbp-login-form .bbp-submit-wrapper {
	text-align: center !important;
}

/* Make provate replies a lighter shade of blue */
.topic .bbp-private-reply {
    background: none repeat scroll 0 0 #cfedff !important;
}

/* Make the forum 'Freshness' date and time a darker grey */
#bbpress-forums li.bbp-body li.bbp-forum-freshness a, #bbpress-forums li.bbp-body li.bbp-topic-freshness a {
    color: #777777 !important;
	font-size:12px !important;
}

/* Hide the forum recent author name but keep the avatar only on the forums homepage */
/*body.forum-archive.bbpress */p.bbp-topic-meta span.bbp-topic-freshness-author a.bbp-author-name {display:none !important;}

/* Make the forum reply header a darker grey */
.bbp-reply-header .bbp-meta {color: #777777 !important;}

/* Show the line <p>You must be logged in to reply to this topic.</p> at the bottom of topics */
/* They should implement this in the next KLEO update so test and remove afterwards */

.bbp-no-reply .bbp-template-notice {
	/*display: none !important; this line is in wp-content/themes/kleo/bbpress/css/bbpress.css ---- see http://seventhqueen.com/support/forums/topic/display-links-in-forums-for-not-logged-in-user#post-26424*/
	/*display: block!important;*/
}

/* Increase spacing slightly between forum title and list of sub-forums */
ul.bbp-forums-list {
    margin-top: 10px !important ;
}

/* Hide main page title on custom forum index page */
body.forum-archive h1.page-title {display:none;}

/* --------------- */
/* --------------- */
/* MASONRY STYLES  */

/* Hide Meta info (tags etc) on Masonry listings */
/*article.kleo-masonry-item div.post-content div.post-header span.post-meta { display:none !important;}*/
div.kleo-masonry div.post-content div.post-header span.post-meta { display:none !important;}

/*div.masonry-listing, div.masonry-listing article {background-color:#f7f7f7 !important;}*/

div.masonry-listing article {background-color:#f7f7f7 !important;}

/*div.row div.kleo-masonry {padding:12px 12px 12px 12px !important;}*/

/* Reset the inside of the masonry blocks to white bg */
div.masonry-listing .post-content, div.masonry-listing article .post-content {background-color:#ffffff !important;}

/* Styles for the Masonry Grey Background */
/*div.masonry-listing .masonry { background-color:#f7f7f7 !important;}
article.kleo-masonry-item { background-color:#f7f7f7 !important;}
article.kleo-masonry-item div.post-content { background-color:#ffffff !important;}*/



/* END MASONRY STYLES */
/* ------------------ */
/* ------------------ */




/* BUTTONS */
/* Deprecated 27/04/2015 with new rev slider front page slideshow - Main CTA on front page - this actually applies the center to the whole div not just the a */
.wegozo_center { text-align:center !important;}

/* Orange CTA Button on revolution slider on Wegozo front page */
.wegozo_revolution_slider_button {
  /*font-weight: bold !important;	*/
  color: #ffffff !important;
  /* ORIGINAL Bootstrap : background-color: #f0ad4e !important; */
  background-color: #f69200 !important;  
  border-color: #eea236 !important;
}

.wegozo_revolution_slider_button small {
  font-weight: bold !important;
}


/* Hide Status Updates on wegozo.com/members as they are not respecting privacy settings and are available to NON-LOGGED-IN VISITORS */
div.member-inner-list span.update {display:none !important;}

/* Hide Status Updates on wegozo.com/members/tomwilkinson etc. as they are not respecting privacy settings and are available to LOGGED-IN MEMBERS but NOT FRIENDS */
div#item-header-content div#latest-update {display:none !important;}

/* Hide Username on profile pages at top */
div#item-header-content .user-nicename {display:none !important;}

/* Hide "active 2 weeks, 3 days ago" etc on profile pages at top  */
div#item-header-content .activity {display:none !important;}


/* ---------------------- */
/* FONT STYLES AND COLORS */
/* ---------------------- */

/* Make titles in Sidebar Red */
.sidebar-main h4.widget-title, .sidebar-extra .widget h4.widget-title { color:#990000 !important;}

/* Change the colours of the notifications bubbles to light blue like in admin bar */
#buddypress div#item-nav ul li a span {
    background-color: #1fb3dd;
    color: #fff;
	border: none;
}

/* If there are any UNREAD messages or NOTIFICATIONS, make the icon bubbles red */
#buddypress div#item-nav ul li#messages-personal-li a span.count,
#buddypress div#item-nav ul li#notifications-personal-li a span.count
{
    background-color: #900;
    color: #fff;
	border: none;
}


/* Dark Blue Link Colour			#367bb7 */
/* Light Blue Link Colour (Hover) 	#1fb3dd */
/* Dark Grey 						#333333 */
/* Deep Red 						#900 / 990000 */

/* Default colour of icons on page load */
/* How to change the actual icons: http://seventhqueen.com/support/forums/topic/change-buddypress-navigation-menu-icons */
.main-color #buddypress div#item-nav .tabdrop .dropdown-menu li a:hover:before,
.main-color #buddypress div#item-nav ul li a:before,
.main-color #buddypress div#item-nav .tabdrop .dropdown-menu li a:before 
{color: #367bb7;}

/* Change the text colour underneath each icon */
.main-color #buddypress div#item-nav .tabdrop .dropdown-menu li a:hover,
.main-color #buddypress div#item-nav ul li a,
.main-color #buddypress div#item-nav .tabdrop .dropdown-menu li a 
{color: #367bb7;}

/* Currently selected icon */
.main-color #buddypress div#item-nav ul li.current a:before {color: #1fb3dd;}

/* Change hover colour of icons to light blue */
.main-color #buddypress div#item-nav ul li a:hover:before {color: #1fb3dd;}

/* BUDDYPRESS SIDEBAR WIDGET STYLES  */

/*.widget-textarea #item-header-avatar {
    border-radius: 4px;
    border-style: solid;
    border-width: 12px;
    box-shadow: 0 0 0 20px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
    z-index: 10;
}*/

/*.widget-textarea .rounded {
    border-radius: 100% !important;
}*/

.main-color #item-header-avatar {border-color: #f7f7f7;}
.main-color #item-header-avatar {color: #ffffff;}

/*.rounded {
    border-radius: 100% !important;
}*/


/*#item-header-avatar.rounded img.avatar {
    border-radius: 100%;
}
*/


#item-header-avatar {
    border-radius: 4px;
    border-style: solid;
    border-width: 12px;
    box-shadow: 0 0 0 20px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
    z-index: 10;
}

#item-header-avatar.rounded img.avatar {
    border-radius: 100%;
}

.rounded {
    border-radius: 100% !important;
}

.kleo-online-status {
    bottom: 20px;
    right: 0;
}

.kleo-online-status, .kleo-members-carousel .kleo-online-status {
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    height: 18px;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
    width: 18px;
    z-index: 20;
}

/* Make the little blue dot blue when the person is online */
 
.main-color .kleo-online-status.high-bg {
	background-color: #00b9f7;
}

/* Make the little blue dot grey when the person is online */
 
.main-color .kleo-online-status {
	background-color: #bbbbbb;
}

/* Hide the BP profile photo and info on all desktop screens by default */
/*#buddypress #item-header {
 display:none;		
}*/



/* Hide the profile toggle on all screens by default */
#buddypress div#item-header { background: none; }  /* Get rid of double grey lines */
#kleo-bp-home-wrap .bp-toggle-less {display: none;}
#kleo-bp-home-wrap .bp-toggle-more {display: none;}
#buddypress div#item-header div#item-header-content {
    margin-bottom: 10px;/* Reduce margin after header content */
}

/* ----------------------------- */
/* PROFILE AND REGISTRATION PAGE */
/* ----------------------------- */

/* Hide the line "This field can be seen by: Only Me" after the T&Cs checkbox */
#field-visibility-settings-toggle-8 { display:none !important;}

/* Hide ALL "This field can be seen by: Only Me" etc. */
p.field-visibility-settings-toggle, p.field-visibility-settings-notoggle {display:none !important;}

/* Make main subtitles red */
.registration.buddypress div#register-page h4 {color: #990000 !important;}

/* Add spacing to right of acceptance check box */
div.checkbox_acceptance input {margin-right:4px !important;}

/* Remove spacing between profile data items - like Bucket List */
#item-body div.profile-data dl, #item-body div.my-bucket-list dl {
    margin-bottom: 0px !important;
}

/* Hide Terms and Conditions on Profile Page */
#item-body div.profile-data dl.field_type_checkbox_acceptance {display:none !important;}

/* Reduce spacing between lines */
div.profile dl {margin:0px !important;}
/*div.profile dt, div.profile dd {
    line-height: 1;
}*/

/* Increase size of profile headings and make same as main page H3 */
div.profile .hr-title abbr {
	background-color: #f1f9fd; /* This should match the colour below */	
	color:#000000;
    font-weight: 300;
    font-size: 22px;
    font-family: Raleway;
    line-height: 28px;
    margin-bottom: 20px;
	text-transform:none;	
	letter-spacing: inherit !important;	
}

/* Add a BG colour to the profile block */
div.profile { background-color:#f1f9fd !important;}

#buddypress .standard-form p.description {margin-bottom:30px !important;}

/* Hide "This field can be seen by: Everyone" on bucket list */
#buddypress #profile-edit-form.my-bucket-list div.field-visibility-settings-notoggle {display:none !important;}

/* ------------------------------ */
/* /PROFILE AND REGISTRATION PAGE */
/* ------------------------------ */

/* Hide when members were last online on Members page http://wegozo.com/members/ (The bit that says "active 18 hours, 46 minutes ago" */

#buddypress span.activity {display:none !important;}



/* For standard browsers HIDE the top avatar in the main pane */
@media screen and (min-width: 768px) {

	#kleo-bp-home-wrap #item-header-avatar { display:none;} /* Hide whole div containing Profile image */	
	
	.essb_link_whatsapp {display:none !important;} /* Hide Whatsapp icon link on desktops */
	
	/* Make profile page icons smaller for 3 column view, reduce side padding by 5px */
	/*#buddypress div#item-nav ul li a { font-size:11px !important; padding: 15px 15px !important;}*/

}


/* On smartphone screens with landscape and portrait orientations */
@media screen and (max-width: 767px) {
	
	/* Hide the new sidebar profile image so ONLY The original KLEO profile image displays at top */
	div.widget.widget_wegozo_sidebar_profile_data { display:none !important;}
	
	/* Make the forum column titles smaller on mobiles */
	ul.forum-titles li, 
	li.bbp-header .bbp-reply-author,
	li.bbp-header .bbp-reply-content 
	{ 
	font-size:13px; 	
	}	
	
	
	/* Align "Forum" column to the left */
	li.bbp-forum-info {text-align:left !important;}

	/* CTA button on front pave revolution slider */	
	.wegozo_revolution_slider_button { padding: 3px 6px !important;}
	
	.wegozo_revolution_slider_button small, .wegozo_revolution_slider_button span {
	  font-size:50% !important;	
	  font-weight: bold !important;
	  line-height:10px !important;
	  /*width:100px !important;
	  height:30px !important;*/
	}
	
	.wegozo_revolution_slider_button .icon-login {
	  font-size:100% !important;	
	  font-weight: bold !important;	
	  line-height:10px !important;	
	  margin-right:-0.2em !important;
	}		


	
}


	/* Hide the Freshness column on forum front page, and sub-forum pages for all users - move into section above for only mobiles */
	li.bbp-forum-freshness, li.bbp-topic-freshness {display:none !important;}



/* ----------------------- */
/* ACTIVITY STREAM UPDATES */
/* ----------------------- */

/* Hide the sub nav on left as we are ONLY showing friends' updates now anyway */
#buddypress #subnav li#activity-all,
#buddypress #subnav li#activity-mentions {display:none !important;}

/*
#buddypress #subnav li#activity-friends,
#buddypress #subnav li#activity-groups, {display:none !important;} */

/* ----------------------- */
/* --- RTMEDIA PRO STYLES--- */
/* ----------------------- */

/* Style title of rtMedia sidebar widget to be consistent with other sidebar titles */
div.rtmedia-container h2 {
	color:#990000 !important;
	margin-bottom:10px;
	font-weight:600;
	line-height:28px;
	font-size:18px;
	font-family:Raleway;
}
/* Hide "No media found" text in sidebar */
div.rtmedia-container p.rtmedia-no-media-found {display:none !important;}

.rtmedia-container .rtmedia-gallery-item-actions a {
	color:#ffffff !important; 
	padding: 5px 16px !important; /* This fixes text wrapping on Chrome */
	font-size: 10px;
}
.rtmedia-gallery-item-actions a:hover {color:#00b9f7 !important;}
.rtmedia-list.masonry .rtmedia-list-item a h4 { font-size:11px;}
.rtmedia-item-title h4 {color:#ffffff !important;}

/* When thumbnails set to 100px in rtMedia > Settings the Media page view under profile (set in KLEO/assets/css/plugins.min.css) still displays container at 150px, so fix at same dimensions as on settings page  */
#buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item {width:100px !important; height:100px !important;}

/* Make the select box wider as with the font size increase it is too small  */
.rtmedia-container select, .rtmedia-activity-container select, #buddypress div.rtmedia-activity-container select {width: 150px !important;}

/* On Masonry view of members' friends, make the friends' names smaller for 3 column views  */
#buddypress .col-sm-12 #friend-list .item-title, #buddypress .col-sm-12 #members-list .item-title {font-size:12px !important;}

/* Selfies page - hide the rtMedia "Media Gallery" title in red */
.page-id-2037 .rtmedia-container h2 {display:none !important;} 