/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =bbPress Style
-------------------------------------------------------------- */

#bbpress-forums hr {
	margin: 0 0 24px 0;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}

#bbpress-forums div.even,
#bbpress-forums ul.even {
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
}

body.reply-edit .reply {
	float: none;
}

#bbpress-forums div.reply {
	height: auto;
	width: 100%;
}

#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
}

#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
	color: #ccc;
}

#bbpress-forums ul {
	background:  none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#bbpress-forums ul.bbp-threaded-replies {
	margin-left: 50px;
}

#bbpress-forums li {
	background: none;
	margin: 0;
	/*list-style: none;*/
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
	overflow: hidden;
	clear: both;
}

#bbpress-forums ul.bbp-replies li {
	/*display: inline-block;*/
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
#bbpress-forums ul.bbp-replies ul.bbp-topic-revision-log li,
#bbpress-forums ul.bbp-replies ul.bbp-reply-revision-log li {
	margin-bottom: 0;
}
#bbpress-forums ul.bbp-replies li.bbp-header {
	margin-bottom: 0;
}

#bbpress-forums ul.bbp-replies li.bbp-body {
	float: left;
	margin-bottom: 0;
}
#bbpress-forums ul.forums.bbp-replies .bbp-header .bbp-reply-author {}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	text-transform: uppercase;
	padding: 30px 0 10px;
	font-size: 12px;
	color: #bbb;
}
#bbpress-forums ul.bbp-replies li.bbp-footer {
	display:none;
}
#bbpress-forums li.bbp-header {
	border-top: none;
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}
#bbpress-forums .bbp-forums {
}
#bbpress-forums .bbp-forums-list {
	padding-left: 15px;
	border-left-style: solid;
	border-left-width: 3px;
}

#bbpress-forums .bbp-forums-list li {
	display: inline;
}

#bbpress-forums li.bbp-footer p {
	margin: 0;
}
li.bbp-forum-info {
}
li.bbp-forum-info,
li.bbp-topic-title {
	/*float: left;*/
	text-align: left;
	width: 100%;
}
li.bbp-topic-title .bbp-topic-permalink {
	margin-right: 10px;
}
li.bbp-forum-info .bbp-forum-title {
	font-size: 18px;
	margin-bottom:10px;
}
li.bbp-topic-title {
	width: 100%;
}
ul.forum-titles {
	display: table;
	width: 100%;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count,
li.bbp-forum-freshness,
li.bbp-topic-freshness {
	/*float: left;*/
	text-align: center;
	width: 10%;
	display: table-cell;
	vertical-align: middle;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: right;
	/*float: left;*/
	width: 25%;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-top-style: solid;
  border-top-width: 1px;
	overflow: hidden;
	position: relative;
	display: table;
	width: 100%;
}
#bbpress-forums li.bbp-body ul.topic {
	padding: 16px 0;
}
#bbpress-forums li.bbp-body ul.forum {
	padding: 16px 0;
}
#bbpress-forums li.bbp-body ul.forum .bbp-forum-content {
	padding-top: 6px;
	margin-bottom: 0;
	display: block;
}

#bbpress-forums li.bbp-body ul.forum.bbp-has-subforums {
	padding-bottom: 0.85em;
}

#bbpress-forums li.bbp-body ul.forum {}

#bbpress-forums li.bbp-header li.bbp-forum-info,
#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
#bbpress-forums li.bbp-header li.bbp-forum-freshness {}
#bbpress-forums li.bbp-body li.bbp-forum-freshness,
#bbpress-forums li.bbp-body li.bbp-topic-freshness {
	color: #bbb;
	font-size: 12px;
	text-align: right;
}
#bbpress-forums li.bbp-body li.bbp-forum-freshness a,
#bbpress-forums li.bbp-body li.bbp-topic-freshness a {
	color: #bbb !important;
	line-height: 30px;
}
#bbpress-forums li.bbp-forum-freshness .bbp-author-avatar {}
#bbpress-forums li.bbp-forum-freshness .bbp-author-avatar img.avatar {}
#bbpress-forums .bbp-topic-freshness-author .bbp-author-avatar img {
	border-radius: 100%;
}
/*#bbpress-forums li.bbp-forum-freshness .bbp-topic-meta,
#bbpress-forums li.bbp-topic-freshness .bbp-topic-meta {
	display: none;
}*/
#bbpress-forums li.bbp-forum-freshness .bbp-topic-meta,
#bbpress-forums li.bbp-topic-freshness .bbp-topic-meta {
	display: inline-block;
	float: left;
	max-width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
	background: none;
	border: none;
	font-size: 16px;
 	line-height: 1em;
 	margin: 8px 0;
	padding: 0;
	text-transform: none;
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: center;
	width: 130px;
	/*padding-top: 8px;*/
}
#bbpress-forums .bbp-header div.bbp-forum-author,
#bbpress-forums .bbp-header div.bbp-topic-author,
#bbpress-forums .bbp-header div.bbp-reply-author {
	text-align: left;
}
#bbpress-forums .bbp-header div.bbp-reply-author {
	display: none;
}

#bbpress-forums div.bbp-forum-author .bbp-author-avatar,
#bbpress-forums div.bbp-topic-author .bbp-author-avatar,
#bbpress-forums div.bbp-reply-author .bbp-author-avatar {
	width: 60px;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.bbp-author-avatar.bbp-sheriff-badge:before,
.bbp-author-avatar.bbp-sheriff-badge:before,
.bbp-author-avatar.bbp-sheriff-badge:before,
.bbp-author-avatar.bbp-award-badge:before,
.bbp-author-avatar.bbp-award-badge:before,
.bbp-author-avatar.bbp-award-badge:before,
.bbp-author-avatar.bbp-thumbs-up-badge:before,
.bbp-author-avatar.bbp-thumbs-up-badge:before,
.bbp-author-avatar.bbp-thumbs-up-badge:before,
.bbp-author-avatar.bbp-mention-badge:before,
.bbp-author-avatar.bbp-mention-badge:before,
.bbp-author-avatar.bbp-mention-badge:before {
	background: #E74C3C;
	border-radius: 100%;
	bottom: 0;
	color: #fff;
	font-family: "fontello";
	height: 20px;
	left: 0;
	line-height: 20px;
	position: absolute;
	width: 20px;
	z-index: 10;
}

.bbp-author-avatar.bbp-sheriff-badge:before,
.bbp-author-avatar.bbp-sheriff-badge:before,
.bbp-author-avatar.bbp-sheriff-badge:before {
	content: "\e814";
}
.bbp-author-avatar.bbp-thumbs-up-badge:before,
.bbp-author-avatar.bbp-thumbs-up-badge:before,
.bbp-author-avatar.bbp-thumbs-up-badge:before {
	content: "\e84a";
}
.bbp-author-avatar.bbp-award-badge:before,
.bbp-author-avatar.bbp-award-badge:before,
.bbp-author-avatar.bbp-award-badge:before {
	content: "\e8d2";
}
.bbp-author-avatar.bbp-mention-badge:before,
.bbp-author-avatar.bbp-mention-badge:before,
.bbp-author-avatar.bbp-mention-badge:before {
	content: "\e996";
}


#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	/*border-style: solid;
	border-width: 5px;*/
	border-radius: 100%;
}
#bbpress-forums div.bbp-reply-author img.avatar {}

#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0 12px;
	word-wrap: break-word ;
	display: inline-block;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	clear: left;
	display: block;
}

#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-style: italic;
	font-size: 11px;

	/*position: absolute;
	top: 0;
	right: 0;*/


}
#bbpress-forums div.bbp-reply-author .bbp-author-role.role-keymaster,
#bbpress-forums div.bbp-reply-author .bbp-author-role.role-moderator {
	width: 120px;
	font-style: normal;
	font-size: 9px;
	font-weight: bold;
	position: absolute;
	z-index: 10;
	text-align: center;
	text-transform: uppercase;
	line-height: 26px;
	top: 12px;
	right: -34px;
	margin: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: #00B9F7;
	color: #fff;
}

#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0 30px 0 0;
	padding: 0;
	width: 130px;
}

#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {}

#bbpress-forums .bbp-topics .bbp-topic-meta {
	margin: 0;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 12px 0;
	position: relative;
}
div.bbp-reply-header,
div.bbp-topic-header {
	margin-left: 160px;
}
li.bbp-body div.hentry {
	padding: 0 0 50px;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
	/*border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;*/
	clear: both;
}

div.bbp-reply-header .bbp-reply-post-date {
	font-size: 11px;
	text-transform: uppercase;
	color: #bbb;
}

span.bbp-author-ip {
	color: #bbb;
	font-size: 11px;
	display: none;
}

/* =Topic and reply content
-------------------------------------------------------------- */
#bbpress-forums {}
#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	text-align: left;
}

#bbpress-forums .hentry div.bbp-reply-content,
#bbpress-forums .hentry div.bbp-topic-content {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-left: 160px;
	padding: 20px;
	position: relative;
}


#bbpress-forums .hentry.topic-author.bbp-private-reply {
	background-color: #fff !important;
}
#bbpress-forums .bbp-private-reply.hentry div.bbp-reply-content,
#bbpress-forums .bbp-private-reply.hentry div.bbp-topic-content {
	background-color: #f5fcff;
	border-color: #c4effd;
}
#bbpress-forums .hentry.topic-author {
	position: relative;
	overflow: hidden;
}
#bbpress-forums .hentry div.bbp-reply-content:before,
#bbpress-forums .hentry div.bbp-topic-content:before {
	border-color: #e5e5e5;
	border-style: none none solid solid;
	border-width: 0 0 1px 1px;
	content: "";
	display: block;
	height: 14px;
	position: absolute;
	left: -8px;
	top: 20px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 14px;
	z-index: 999;
	background: #fff;
}
#bbpress-forums .bbp-private-reply.hentry div.bbp-reply-content:before,
#bbpress-forums .bbp-private-reply.hentry div.bbp-topic-content:before {
	background-color: #f5fcff;
	border-color: #c4effd;
}

/* Clearing hack */
#bbpress-forums div.bbp-forum-content:after,
#bbpress-forums div.bbp-topic-content:after,
#bbpress-forums div.bbp-reply-content:after {
	clear: both;
	/*content: ".";
	display: block;
	float: none;
	height: 0;
	font-size: 0;
	visibility: hidden;*/
}

#bbpress-forums div.bbp-topic-content a,
#bbpress-forums div.bbp-reply-content a {
	background: none;
	border: none;
	display: inline;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6 {
	clear: none;
	line-height: 1em;
	margin: 24px 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
	max-width: 100%;
}

#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
	margin: 0 15px 15px;
	padding: 0;
	display: inline-block;
}

#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li,
#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
	margin: 0;
}
#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul {
  list-style: disc inside;
}
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
  list-style: decimal inside;
}


#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
	list-style-type: decimal;
}

#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li {
	list-style-type: lower-alpha;
}

#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li {
	list-style-type: upper-roman;
}

#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle;
	margin-top: -3px;
}

#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	display: block;
	line-height: 18px;
	margin: 0 0 24px;
	padding: 5px 10px;
	white-space: pre;
	overflow: auto;
}

#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-wrap: normal;
	overflow: auto;
	max-width: 100%;
}

/* =Reply to
-------------------------------------------------------------- */

#bbpress-forums div.bbp-reply-to {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: right;
}

#bbpress-forums div#bbp-cancel-reply-to {
	text-align: right;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
	font-size: 93%;
	color: #bbb;
	text-align: right;
	margin: 0;
}

#bbpress-forums div.bbp-topic-tags {}

#bbp-topic-hot-tags {
	clear: both;
}

/* =Search
-------------------------------------------------------------- */

#bbpress-forums .bbp-search-form {
	float: none;
	text-align: center;
	margin: 30px auto;
}

#bbpress-forums form#bbp-search-form {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border-radius: 22px;
	border-style: solid;
	border-width: 1px;
	height: 33px;
  line-height: 30px;
	padding: 0 10px;
	min-width: 420px;
	text-align: left;
}

#bbpress-forums #bbp-search-form .hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	background: none;
	left: -999em;
}

#bbpress-forums #bbp-search-form input[type=text],
#bbpress-forums #bbp-search-form input[type=text] {
	border: none;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
	color: #bbb;
	float:left;
	font-weight: normal;
	height:31px;
	background: transparent;
	box-shadow: none;
	min-width: 420px;
}

#bbpress-forums #bbp-search-form input[type=text]:focus,
#bbpress-forums #bbp-search-form input[type=text]:focus {
	min-width: 530px;
	color: #777;
}
#bbpress-forums #bbp-search-form input[type=submit],
#bbpress-forums #bbp-search-form input[type=submit] {
	border: none;
	text-indent: -9999em;
	background: url(../../assets/img/sprite.png) no-repeat;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	position: relative;
	float: right;
	margin-top: 3px;

}
@media screen and (max-width: 480px) {
	#bbpress-forums form#bbp-search-form {
	min-width: 98%;
}
	#bbpress-forums #bbp-search-form input[type=text],
#bbpress-forums #bbp-search-form input[type=text],
#bbpress-forums #bbp-search-form input[type=text]:focus,
#bbpress-forums #bbp-search-form input[type=text]:focus {
	min-width: inherit;
}
}

/* bbPress custom header search */
.main-color .header-bb-search #bbpress-forums form#bbp-search-form {
    box-shadow: none;
    height: 81px;
    line-height: 63px;
    border-radius: 8px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.header-bb-search #bbpress-forums #bbp-search-form input[type="text"] {
    height: 63px;
    line-height: 63px;
    font-size: 18px;
    border-radius: 8px 0 0 8px;
    background: #fff;
}

.header-bb-search #bbpress-forums #bbp-search-form input[type="submit"] {
    margin-top: 0;
    background: #E74C3C;
    border-radius: 0 8px 8px 0;
    width: auto;
    height: auto;
    text-indent: 0;
    color: #fff;
    padding: 0 40px !important;
    font-size: 14px;
    text-transform: uppercase;
    float: left;

}

.header-bb-search #bbpress-forums #bbp-search-form input[type="text"] {
    min-width: 630px;
    opacity: 0.9;
}
.header-bb-search #bbpress-forums #bbp-search-form input[type="text"]:focus {
    min-width: 730px;
    opacity: 1;
}
.header-bb-search h1 {
    margin-bottom: 0;
}
@media screen and (max-width: 767px) {
    .header-bb-search #bbpress-forums #bbp-search-form input[type=text],
    .header-bb-search #bbpress-forums #bbp-search-form input[type="text"]:focus {
        min-width: inherit;
        width: 100% !important;
        border-radius: 8px;
        text-align: center;
    }
    .header-bb-search #bbpress-forums #bbp-search-form input[type="submit"] {
        width: 100%;
        border-radius: 8px;
        font-size: 22px;
    }
    .header-bb-search #bbpress-forums form#bbp-search-form {
        width: 98% !important;
        height: 162px !important;
    }
    .header-bb-search #bbpress-forums {
        overflow: visible;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

    .header-bb-search #bbpress-forums form#bbp-search-form {
        width: auto !important;
    }
}
@media (max-width: 991px) {
    .header-bb-search #bbpress-forums #bbp-search-form input[type=text],
    .header-bb-search #bbpress-forums #bbp-search-form input[type="text"]:focus {
        min-width: inherit;
        width: 80%;
    }
    .header-bb-search #bbpress-forums form#bbp-search-form {}
}


/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
	font-size: 11px;
	font-weight: bold;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-row-actions #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-row-actions #favorite-toggle a:hover {	}
	.bbp-row-actions #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-row-actions #favorite-toggle span.is-favorite a:hover {		}
a.favorite-toggle {}
a.favorite-toggle:before {
	font-family: "fontello";
	content: "\e812";
	margin: 0 5px 0 20px;
}
.is-favorite a.favorite-toggle:before {
	content: "\e811";
}
.is-subscribed a.subscription-toggle:before {
	content: "\e983";
}
.bbp-replies .bbp-header .bbp-reply-content {
	margin-left: 160px;
}
#subscription-toggle {
	text-align: right;
	color: #fff;
}
.bbp-reply-content #subscription-toggle {}
#subscription-toggle a {
	text-transform: uppercase;
	font-size: 12px;
}
a.subscription-toggle {
	display: inline-block;
	float: right;
}
a.subscription-toggle:before {
	font-family: "fontello";
	content: "\e982";
	text-align: center;
	line-height: inherit;
	line-height: 10px;
	margin-right: 5px;
	margin: 0 5px 0 20px;
}

.bbp-row-actions #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-row-actions #subscription-toggle a:hover {	}
	.bbp-row-actions #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-row-actions #subscription-toggle span.is-subscribed a:hover {}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
	padding: 0;
	word-wrap: break-word;
	display: inline-block;
}
#bbpress-forums p.bbp-topic-meta .bbp-author-avatar {
	display: none;
}
#bbpress-forums .bbp-topic-freshness-author .bbp-author-avatar {
	display: inline-block !important;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content {}
.bbp-topic-started-by,
.bbp-topic-started-by a.bbp-author-name {
	font-size: 12px;
	color: #bbb;
}

#bbpress-forums p.bbp-topic-meta span {
	white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
}

.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline;
	}
.bbp-pagination-links a,
.bbp-pagination-links span {
	border-style: solid;
	border-width: 1px;
	border-radius: 100%;
	color: #bbb;
	display: inline-block;
	float: none;
	height: 30px;
	line-height: 30px;
	margin: 0 3px;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 30px;
	}
	.bbp-pagination-links a:hover,
	.bbp-pagination-links span.current {
	}

.bbp-pagination-links span.dots {
	display: inline-block;
	padding: 1px 4px;
	margin-left: 5px;
}

.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
		border: 1px solid #ddd;
		text-decoration: none;
	}


/* =Forms
-------------------------------------------------------------- */

form#new-post {
	clear: both;
	margin-top: 30px;
	padding: 20px 10px;
	border-style: solid;
	border-width: 1px;
}
#bbpress-forums .bbp-form legend {
	/*padding: 5px;*/
	font-size: 20px;
	/*font-weight: bold;	*/
	margin-bottom: 20px;
}
#bbpress-forums .bbp-form input[type="text"] {
	border-style: solid;
	border-width: 1px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}

/*Editor*/
.quicktags-toolbar, .wp_themeSkin tr.mceFirst td.mceToolbar {
	background: none !important;
	border-style: solid;
	border-width: 1px;
}
.quicktags-toolbar input {
	background: inherit !important;
	border-style: solid;
	border-width: 1px;
}
.wp-editor-area {
	border-style: solid !important;
	border-width: 1px !important;
	margin-top: -1px !important;
}
.bbp-submit-wrapper button.button {
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	margin: 3px 0;
	min-width: 80px;
	padding: 10px 30px;
	transition: all 0.4s ease-in-out 0s;
	border-radius: 3px;
	text-transform: uppercase;
}
.bbp-submit-wrapper button.button:hover {}

textarea#bbp_forum_content {
	height: 210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

/**
 * Fix for too-long forum names, usually from conversion
 */
#bbpress-forums fieldset select#bbp_forum_id {
	max-width: 200px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	line-height: 0;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	max-width: 100%;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper input {
	padding: 5px;
	margin: 0 2px 0 0;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */

#bbpress-forums #bbp-your-profile fieldset {
	padding: 20px 20px 0 20px;
}
	#bbpress-forums #bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbpress-forums #bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input,
	#bbpress-forums #bbp-your-profile fieldset textarea {
		margin-bottom: 0;
		width: 60%;
		background: #f9f9f9;
		border: 1px solid #ddd;
		box-shadow: none;
		padding: 5px 8px;
		border-radius: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input:focus,
	#bbpress-forums #bbp-your-profile fieldset textarea:focus {
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		outline-color: rgba(240,255,240,0.1);
	}
	#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
		width: auto;
	}
	#bbpress-forums #bbp-your-profile fieldset legend {
		display: none;
	}
	#bbpress-forums #bbp-your-profile fieldset label[for] {
		float: left;
		width: 20%;
		padding: 5px 20px 5px 0;
		text-align: right;
		cursor: pointer;
	}
	#bbpress-forums #bbp-your-profile fieldset dl label[for] {
		text-align: left;
		width: 60%;
	}
	#bbpress-forums #bbp-your-profile fieldset span.description {
		margin: 5px 0 0 20%;
		font-style: italic;
		float: left;
		clear: left;
		width: 60%;
		padding: 5px 8px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	#bbpress-forums #bbp-your-profile fieldset fieldset {
		margin: 0;
		border: none;
		padding: 0;
		clear: none;
		float: none;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password {
		width: 60%;
		display: inline;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
		width: 100%;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
		margin: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbpress-forums #bbp-your-profile fieldset.submit button {
		float: right;
	}

/* =Notices
-------------------------------------------------------------- */

.kleo-notice {
    display: none !important;
}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	display: inline-block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding: 10px 8px 8px !important;
}

.bbp-topics-front ul.super-sticky:after,
.bbp-topics ul.super-sticky:after,
.bbp-topics ul.sticky:after,
.bbp-forum-content ul.sticky:after {
	font-family: "fontello";
	content: "\e843";
	display: inline-block;
	position: absolute;
	top: -1px;
	right: 10px;
	line-height: 11px;
}

/* =Revisions
-------------------------------------------------------------- */

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	width: 100%;
	margin: 0;
	padding: 5px 0 0 0;
	font-size: 12px;
	color: #bbb;
	font-style: italic;
}
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log img.avatar,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log img.avatar,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log img.avatar {
	display: none;
}

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li {
	list-style-type: none;
}

/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form label {
	width: 140px;
	display: inline-block;
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.bbp-login-form .bbp-remember-me {

}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}

.bbp-login-form .bbp-login-links {
}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
}

.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
	float: none;
}

fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */

#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}

#bbpress-forums #bbp-user-wrapper {
	float: left;
	width: 100%;
}

#bbpress-forums .bbp-user-section {
	overflow: auto;
}

#bbpress-forums #bbp-user-wrapper h2.entry-title {
	font-size: 1.4em;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
	clear: none;
}

#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies {}

#bbpress-forums #bbp-single-user-details {
	margin: 0;
	width: 150px;
	float: left;
	overflow: hidden;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: none;
	height: 150px;
	padding: 0;
	margin: 0 0 20px 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}

#bbpress-forums #bbp-user-body {
	margin-left: 180px;
}

body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

/* =User Capabilities
-------------------------------------------------------------- */

#bbpress-forums dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}

#bbpress-forums dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}

#bbpress-forums dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */

#bbpress-forums div.row-actions {
	/*font-size: 11px;*/
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}

/* Support forum */
#bbps_support_forum_options,
#bbps_support_forum_move {
	width: 33%;
	display: inline-block;
	float: left;
	padding: 10px 20px;
}
#bbps_support_forum_options:first-child {
	padding-left: 0;
}
#bbps_support_forum_move {
	padding-right: 0;
}
#bbps_support_forum_options select,
#bbps_support_forum_move select {
	width: 100%;
	margin: 10px 0;
	background: #fff;
}
#bbps_support_topic_assign,
#bbps-topic-status,
#bbps_support_forum_move {
	float: left;
}
#bbps-topic-status,
#bbps_support_forum_move {}

#bbps_support_topic_assign {
}
#bbps-topic-status {}
#bbps_support_forum_move {}
#bbps_support_forum_options, #bbps_support_forum_move, .bbps-support-forums-message {}
#bbpress-forums .bbp-topic-tags {
	clear: both;
}
#bbps_support_forum_options, #bbps_support_forum_move, .bbps-support-forums-message {
	clear: none !important;
}
#bbps-topic-assign input[type="submit"],
#bbps-topic-status input[type="submit"],
#bbps_support_forum_move input[type="submit"] {
	background-color: #f7f7f7;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	color: #444444;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	margin: 3px 0;
	min-width: 80px;
	padding: 5px 10px;
	transition: all 0.4s ease-in-out 0s;
	text-transform: uppercase;
}


/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {}
@media only screen and (max-width: 480px) {
	#bbpress-forums div.bbp-topic-tags {
		clear: left;
		float: left;
	}
	div.bbp-search-form input,
	div.bbp-search-form button {
		/*font-size: 11px;*/
		padding: 2px;
	}
	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 45%;
	}
	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 15%;
	}
	span.bbp-reply-post-date {
		float: left;
	}
	span.bbp-admin-links {
		/*clear: left;*/
		float: left;
	}
	#bbpress-forums .bbp-forums-list li {
		display: block;
	}
	#bbpress-forums .bbp-body div.bbp-reply-author {
		/*margin: -15px 10px 10px;*/
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;

	}
	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		clear: none;
		display: inline-block;
		margin-left: 0;
		word-wrap: break-word;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		position: absolute;
		top: 15px;
		left: 0;
		width: 60px;
		height: auto;
	}
	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		font-style: normal;
	}
	#bbpress-forums .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0;
	}
	#bbpress-forums div.bbp-reply-content p {
		margin-bottom: 1em;
	}
	div.bbp-submit-wrapper {
		float: left;
	}
	#bbpress-forums fieldset.bbp-form {
		padding: 0 10px 10px;
	}
	#bbpress-forums #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}

	#bbps_support_forum_options,
	#bbps_support_forum_move {
		width: 100% !important;
		float: none;
	}
	#bbps_support_topic_assign,
	#bbps-topic-status,
	#bbps_support_forum_move {
		float: none;
		margin: 0 0 30px 0 !important;
	}
	#bbps-topic-status,
	#bbps_support_forum_move {
		border-left: none;
		padding-left: 0 !important;
	}

    #bbpress-forums .hentry div.bbp-reply-content:before,
	#bbpress-forums .hentry div.bbp-topic-content:before {
        left: 20px;
        top: -8px;
		-webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    #bbpress-forums .bbp-body div.bbp-reply-author {
        padding-left: 0;
    }
    div.bbp-reply-header {
        margin-left: 0;
    }
    #bbpress-forums .bbp-body div.bbp-reply-content {
        padding: 0 10px;
    }
    .bbp-replies .bbp-header .bbp-reply-content {
        margin-left: 0;
    }
	#bbpress-forums .hentry div.bbp-reply-content,
	#bbpress-forums .hentry div.bbp-topic-content {
		margin-left: 0;
	}
	#bbpress-forums div.bbp-forum-author,
	#bbpress-forums div.bbp-topic-author,
	#bbpress-forums div.bbp-reply-author {
		float: none;
		text-align: left;
		width: 100%;
		margin-bottom: 20px;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		position: relative;
		top: 0;
	}
	#bbpress-forums div.bbp-reply-author .bbp-author-role.role-keymaster,
	#bbpress-forums div.bbp-reply-author .bbp-author-role.role-moderator {
		position: relative;
		float: right;
		line-height: 60px;
		top: 0;
		font-size: inherit;
		font-weight: normal;
		right: 0;
		background: none;
		color: inherit;
		transform: none;
		width: auto;
	}
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
	#bbpress-forums div.bbp-search-form {
		margin-bottom: 10px;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-body li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title,
	#bbpress-forums li.bbp-body li.bbp-topic-title {
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title {
		text-align: center;
		text-transform: uppercase;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count {
		width: 20%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		width: 58%;
	}
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		margin-top: 7px;
	}
	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-footer {
		font-size: 10px;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-author {
		text-align: left;
		width: 25%;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 25%;
	}
	#bbpress-forums div.bbp-template-notice img.avatar,
	#bbpress-forums p.bbp-topic-meta img.avatar {
		height: auto;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
		padding: 1px;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
		width: 20px;
		height: 20px;
	}
	#bbpress-forums div.wp-editor-container {
		width: 100%;
		overflow: auto;
	}
	#bbpress-forums input#bbp_topic_title,
	#bbpress-forums input#bbp_topic_tags {
		width: 95%;
	}
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-footer div.bbp-reply-author,
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		width: 45%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-author,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		clear: both;
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness {
		text-align: center;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 0;
		text-align: left;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
		display: inline-block;
	}
	#bbpress-forums li.bbp-header {
		overflow: hidden;
	}
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		display: inline-block;
		margin-left: 0;
	}
	#bbpress-forums li.bbp-body div.bbp-reply-author {
		min-height: 60px;
		padding-left: 60px;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		width: 40px;
		height: auto;
	}
}


@media (max-width: 991px) {
	/*#bbps_support_forum_options,
	#bbps_support_forum_move {
		width: 230px;
	}
	#bbps_support_topic_assign,
	#bbps-topic-status,
	#bbps_support_forum_move {
		margin: 0 20px 20px 0;
	}
	#bbps-topic-status,
	#bbps_support_forum_move {
		padding-left: 20px;
	}*/
}




























