/*--------------------------------------------------------------
Hello, this is the BuddyPress Legacy stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Navigation
	1.1 - Pagination
2.0 - WordPress
	2.1 - Images
3.0 - BuddyPress
	3.1 - Activity
		3.1.1 - Activity Listing
		3.1.2 - Activity Comments
	3.2 - Toolbar
	3.3 - Directories - Members, Groups, Blogs, Forums
	3.4 - Error / Success Messages
	3.5 - Forms
	3.6 - Ajax Loading
	3.7 - Topics and Tables - Forums and General
	3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
	3.9 - Private Messaging Threads
	3.10 - Extended Profiles
	3.11 - Widgets
4.0 - Media Queries
	4.1 - Smartphones Landscape
	4.2 - Smartphones Portrait
	4.3 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Pagination
--------------------------------------------------------------*/
#buddypress div.pagination {
	background: transparent;
	border: none;
	color: #888;
	font-size: 90%;
	margin: 0;
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 10px 0;
}
#buddypress div.pagination .pag-count {
	float: left;
}
#buddypress div.pagination .pagination-links {
	float: right;
	margin-right: 10px;
}
#buddypress div.pagination .pagination-links span,
#buddypress div.pagination .pagination-links a {
	font-size: 90%;
	padding: 0 5px;
}
#buddypress div.pagination .pagination-links a:hover {
	font-weight: bold;
}
#buddypress noscript div.pagination {
	margin-bottom: 15px;
}
#buddypress #nav-above {
	display: none;
}
#buddypress .paged #nav-above {
	display: block;
}
#buddypress div.messages .pagination {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-radius: 0;
}
/*--------------------------------------------------------------
2 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Images
--------------------------------------------------------------*/
#buddypress img.wp-smiley {
	border: none !important;
	clear: none !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Activity
--------------------------------------------------------------*/
#buddypress #activity-stream {}

#buddypress #activity-stream p {
	margin: 5px 0;
}
#buddypress #item-body .clear {clear:both;}
#buddypress #item-body .activity {}
#buddypress #item-body #pag-bottom {
	border-top-style: solid;
	border-top-width: 1px;
}
#buddypress #item-body form#whats-new-form {
	margin: 30px 0 0 0;
	padding: 0;
}
#buddypress .home-page form#whats-new-form {
	border-bottom: none;
	padding-bottom: 0;
}
#buddypress form#whats-new-form #whats-new-avatar {
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
	z-index: 2;
	width: 25px;
	height: 25px;
}

#buddypress form#whats-new-form #whats-new-content {
	padding: 0;
	margin-bottom: 30px;
}
#buddypress form#whats-new-form p.activity-greeting {
	line-height: 0.5em;
	margin: 0 10px 25px 35px;
	padding-top: 10px;
}
#buddypress form#whats-new-form textarea {
	background: transparent;
	color: #555;
	font-family: inherit;
	font-size: 90%;
	height: 50px;
	padding: 6px;
	width: 100%;
	-webkit-appearance: none;
}
body.no-js #buddypress form#whats-new-form textarea {
	height: 50px;
}
#buddypress form#whats-new-form #whats-new-options select {
	max-width: 200px;
}
#buddypress form#whats-new-form #whats-new-submit {
	float: right;
}
#buddypress form#whats-new-form #aw-whats-new-submit {
	background: transparent;
}
#buddypress #whats-new-options {
	height: 0;
	overflow: hidden;
}
@media (max-width: 480px) {
	#buddypress #whats-new-options {
		height: 100px !important;
		overflow: visible !important;
	}
	#buddypress #whats-new-post-in-box {
		clear: left;
	}
}
#buddypress #whats-new-options > div {
	padding-top: 5px;
}

#buddypress #whats-new-form .rtmedia-container {
	height: 0;
	overflow: hidden;
}
#buddypress #whats-new {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
#buddypress #whats-new:focus {}
#buddypress #rtm-media-gallery-uploader {}
#buddypress .rtm-drag-drop-active {
	border: 2px dashed #777 !important;
	border-width: 2px;
}

#rtmedia-whts-new-upload-container {
	padding-top: 10px;
}
#buddypress #rtmedia-upload-container {}
#buddypress #rtm-drop-files-title {}
#buddypress #rtm-upload-start-notice > span {
	color: #777;
	font-size: 11px;
	line-height:20px;
	text-transform: uppercase;
}

#rtMedia-queue-list {
	width: 100%;
	/*border-left: 1px solid #e5e5e5;*/
	border-left-style: solid;
	border-left-width: 1px;
	margin-top: 20px;
}

.rtmedia-container #rtMedia-queue-list,
.rtmedia-activity-container #rtMedia-queue-list,
#buddypress div.rtmedia-activity-container #rtMedia-queue-list {
	line-height:20px;
}
.rtmedia-container #rtMedia-queue-list tr td:first-child:before {
	font: 220% "fontello";
	content: "\e870";
	line-height: inherit;
	margin-right: 20px;
	vertical-align: middle;
}

.rtmedia-container #rtMedia-queue-list tr td {
	/*border: 1px solid #e5e5e5;*/
	border-style: solid;
	border-width: 1px;
	border-left: none;
}
.rtmedia-container #rtMedia-queue-list tr td,
.rtmedia-activity-container #rtMedia-queue-list tr td,
.rtmedia-container #rtMedia-queue-list tr th,
.rtmedia-activity-container #rtMedia-queue-list tr th {
	padding: 8px 8px !important;
}
.rtmedia-container #rtMedia-queue-list tr,
.rtmedia-activity-container #rtMedia-queue-list tr {
	color: #777 !important;
}
.rtmedia-container #rtMedia-queue-list tr > td.close,
.rtmedia-activity-container #rtMedia-queue-list tr > td.close {
	text-align:center !important;
	float: none;
	text-shadow: none;
	font-size: 140%;
	opacity: 1;
}

.rtmedia-container #rtMedia-queue-list tr.upload-waiting,
.rtmedia-activity-container #rtMedia-queue-list tr.upload-waiting {
	background: transparent !important;
	border: none !important;
	font-style: italic;
}
.rtmedia-container #rtMedia-queue-list tr.upload-error,
.rtmedia-activity-container #rtMedia-queue-list tr.upload-error {
	background: transparent !important;
	border: none !important;
	font-style: italic;
	color: red !important;
}
.rtmedia-container #rtMedia-queue-list tr.upload-success,
.rtmedia-activity-container #rtMedia-queue-list tr.upload-success,
.rtmedia-container #rtMedia-queue-list tr.upload-progress,
.rtmedia-activity-container #rtMedia-queue-list tr.upload-progress {
	background: transparent !important;
	border: none !important;
	color: green !important;
}
.rtmedia-container #rtMedia-queue-list .plupload_media_edit a,
.rtmedia-activity-container #rtMedia-queue-list .plupload_media_edit a {
	text-decoration:none;
	color:#181818;
}
.rtmedia-container #rtMedia-queue-list tr td.plupload_file_status {
}
.rtmedia-container #rtMedia-queue-list tr td.plupload_file_size {
	border-right: none !important;
}
.rtmedia-container #rtMedia-queue-list tr .plupload_delete {}
.rtmedia-container #rtMedia-queue-list tr .upload-error {}

.rtmedia-container,.rtmedia-activity-container,
#buddypress div.rtmedia-activity-container {
	padding: 0 !important;
}

/*--------------------------------------------------------------
3.1.1 - Activity Listing
--------------------------------------------------------------*/
#buddypress ul.activity-list li {
	overflow: hidden;
	padding: 15px 0 0;
	list-style: none;
}

#buddypress .activity-list .activity-avatar {
	float: left;
	display: block;
	position: relative;
	border-radius: 3px;
	z-index: 2;
	border-style: solid;
	border-width: 5px;
	margin-left: 10px;
	margin-top: -7px;
	/*box-shadow: 0 0 0 13px #fff;*/
	width: 60px;
	height: 60px;
}
#buddypress .activity-list .activity-avatar.rounded img.avatar {
	border-radius: 100%;
}

#buddypress ul.item-list.activity-list li.has-comments {
	padding-bottom: 15px;
}
#buddypress ul.item-list.activity-list li.has-comments .activity-content {
	border-bottom: none;
}
body.activity-permalink #buddypress ul.activity-list li.has-comments {
	padding-bottom: 0;
}
#buddypress .activity-list li.mini {
	position: relative;
}
#buddypress .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {}
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: auto;
	margin-left: 0;
	width: auto;
}
body.activity-permalink #buddypress .activity-list > li:first-child {
	padding-top: 0;
}
body.activity-permalink #buddypress .activity-list > li.activity-item:first-child {
	padding-top: 10px;
}
#buddypress .activity-list li .activity-content {
	position: relative;
}
#buddypress .activity-list li.mini .activity-content p {
	margin: 0;
}
#buddypress .activity-list li.mini .activity-comments {
	clear: both;
}
body.activity-permalink #buddypress li.mini .activity-meta {
	margin-top: 4px;
}
#buddypress .activity-list li .activity-inreplyto {
	color: #888;
	font-size: 11px;
}
#buddypress .activity-list li .activity-inreplyto > p {
	margin: 0;
	display: inline;
}
#buddypress .activity-list li .activity-inreplyto blockquote,
#buddypress .activity-list li .activity-inreplyto div.activity-inner {
	background: none;
	border: none;
	display: inline;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#buddypress .activity-list .activity-content {
	margin: 0 0 0 90px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
body.activity-permalink #buddypress .activity-list li .activity-content {
	border: none;
	font-size: 100%;
	line-height: 150%;
	margin-left: 90px;
	margin-right: 0;
	padding: 0;
}
body.activity-permalink #buddypress .activity-list li .activity-header > p {
	margin: 0;
	padding: 5px 0 0 0;
}
#buddypress .activity-list .activity-content .activity-header,
#buddypress .activity-list .activity-content .comment-header {
	color: #888;
}
#buddypress .activity-header {
	margin-right: 20px;
}
#buddypress .activity-header a:first-child {
	font-weight: bold;
}
#buddypress .activity-header a,
#buddypress .comment-meta a,
#buddypress .acomment-meta a {
	text-decoration: none;
}
#buddypress .activity-header p a:last-child {
	margin-right: 50%;
	display: block;
}
#buddypress .activity-header .time-since {
	display: block;
	font-size: 11px;
	text-transform: none;
}

#buddypress .activity-list .activity-content .activity-header img.avatar {
	float: none !important;
	margin: 0 5px -8px 0 !important;
}
#buddypress a.bp-secondary-action:hover,
#buddypress .button.item-button.bp-secondary-action:hover {
	background-color: transparent;
}
#buddypress a.bp-secondary-action,
#buddypress span.highlight {
	font-size: 11px;
	padding: 0;
	margin-right: 5px;
	text-decoration: none;
	text-transform: uppercase;
}
#buddypress .activity-list .activity-content .activity-inner,
#buddypress .activity-list .activity-content blockquote {
	margin: 10px 0 5px 0;
	overflow: hidden;
}
#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,
#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner {
	border-left: 2px solid #EAEAEA;
	margin-left: 5px;
	padding-left: 10px;
}
body.activity-permalink #buddypress .activity-content .activity-inner,
body.activity-permalink #buddypress .activity-content blockquote {
	margin-left: 0;
	margin-top: 5px;
}
#buddypress .activity-inner > p {
	word-wrap: break-word;
}
#buddypress .activity-inner > .activity-inner {
	margin: 0;
}
#buddypress .activity-inner > blockquote {
	margin: 0;
}
#buddypress .activity-list .activity-content img.thumbnail {
	border: 2px solid #eee;
	float: left;
	margin: 0 10px 5px 0;
}
#buddypress .activity-read-more {
	text-align: center;
	display: block;
	border-top-style: solid;
	border-top-width: 1px;
	color: #bfbfbf;
	font-size: 11px;
	text-align: center;
	height: 10px;
	line-height: 20px;
	margin-top: 20px;
}
#buddypress .activity-read-more a {
	background-color: #fff;
	padding: 0 10px;
	position: relative;
	top: -11px;
    text-transform: uppercase;
	/*font-family: "Open Sans";*/
}
#buddypress .activity-list li.load-more,
#buddypress .activity-list li.load-newest {
	font-size: 11px;
	text-transform: uppercase;
	margin: 15px auto;
	padding: 10px 15px;
	text-align: center;
	
}
#buddypress .activity-list li.load-more a,
#buddypress .activity-list li.load-newest a{
	display: inline-block;
	border-radius: 4px;
	padding: 10px;
}
#buddypress .activity-list li.load-more a:before,
#buddypress .activity-list li.load-newest a:before {
	content: "+";
	font-size: 120%;
	margin-right: 5px;
}
#buddypress .activity-timeline {
    border-right-style: solid;
    border-right-width: 1px;
    height: 100%;
    left: 40px;
    position: absolute;
    top: 0;
    width: 1px;
		z-index: 0;
		margin-top: 30px;
}
#buddypress .friends ul#members-list .item-avatar .kleo-online-status,
#buddypress ul#member-list .item-avatar .kleo-online-status,
#buddypress #members-dir-list ul#members-list .item-avatar .kleo-online-status {
	width: 14px;
	height: 14px;
	/*bottom: 11px;
	right: 0;*/
	
	bottom: 6px;
	right: -5px;
}

/* Small fix when rtMedia is deactivated */
#buddypress .activity-list .rtmedia_update .activity-content .activity-inner p a {
	float: left;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}


/*--------------------------------------------------------------
3.1.2 - Activity Comments
--------------------------------------------------------------*/
#buddypress div.activity-meta {
	margin: 18px -30px -1px 0; /* Temporary */
	padding-bottom: 10px;

}
.logged-in #buddypress div.activity-meta {
	padding-bottom: 40px;
}
body.activity-permalink #buddypress div.activity-meta {
	margin-bottom: 6px;
}
#buddypress div.activity-meta a {
	padding: 4px 8px;
}
#buddypress a.activity-time-since {
	text-decoration: none;
	font-size: 11px;
	/*font-family: 'Open Sans',sans-serif;*/
	font-weight: 400;
	color: #bbb;
}
#buddypress a.activity-time-since:hover {
	color: #888;
	text-decoration: underline;
}
#buddypress a.bp-primary-action,
#buddypress #reply-title small a {
	font-size: 11px;
	margin-right: 5px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 12px;
}
#buddypress .activity-meta a.button {
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 12px;
	}
	
/* Add style for activity
   custom plugins buttons */
#buddypress .activity-meta a.button.like,
#buddypress .activity-meta a.button.unlike {
	border: none;
}
#buddypress .activity-meta a.button.like:before,
#buddypress .activity-meta a.button.unlike:before {
	font-family: "fontello";
	content: "\e848";
	margin-right: 5px;
}

.users-who-like {
	font-size: 12px;
	color: #bbb;
}
/* End custom plugins buttons */

#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
	margin-left: 2px;
	padding: 0 5px;
}
#buddypress a.bp-primary-action:hover span,
#buddypress #reply-title small a:hover span {}
#buddypress div.activity-comments {
	margin: 0 0 0 70px;
	overflow: hidden; /* IE fix */
	position: relative;
	width: auto;
	clear: both;
}
body.activity-permalink #buddypress div.activity-comments {
	background: none;
	margin-left: 70px;
	width: auto;
}
#buddypress div.activity-comments > ul {
	padding: 0 0 0 10px;
}
#buddypress div.activity-comments ul,
#buddypress div.activity-comments ul li {
	border: none;
	list-style: none;
}
#buddypress div.activity-comments ul {
	clear: both;
	margin: 0;
}
#buddypress div.activity-comments ul li {
	border-top-style: solid;
	border-top-width: 1px;
	padding: 10px 0 0;
}
body.activity-permalink #buddypress .activity-list li.mini .activity-comments {
	clear: none;
	margin-top: 0;
}
body.activity-permalink #buddypress div.activity-comments ul li {
	border-width: 1px;
	padding: 10px 0 0 0;
}
#buddypress div.activity-comments > ul > li:first-child {}
#buddypress div.activity-comments ul li:last-child {}
#buddypress div.activity-comments ul li > ul {
	margin-top: 0;
	padding-left: 0;
	/*border-bottom-style: solid;
	border-bottom-width: 1px;*/
}
#buddypress div.activity-comments ul li > ul li ul {
	border-bottom: none;
}
body.activity-permalink #buddypress div.activity-comments ul li > ul {
	margin-top: 10px;
}
body.activity-permalink #buddypress div.activity-comments > ul {
	padding: 0 10px 0 15px;
}
#buddypress div.activity-comments div.acomment-avatar img {}

#buddypress div.activity-comments div.acomment-avatar {
	float: left;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
#buddypress div.activity-comments div.acomment-content {
	margin: 8px 0 0 0;
}
#buddypress div.acomment-content .time-since,
#buddypress div.acomment-content .activity-delete-link,
#buddypress div.acomment-content .comment-header {
	display: none;
}
body.activity-permalink #buddypress div.activity-comments div.acomment-content {
	font-size: 90%;
}
#buddypress div.activity-comments div.acomment-meta {
}
#buddypress div.activity-comments form.ac-form {
	display: none;
	padding: 10px;
}
#buddypress div.activity-comments li form.ac-form {
	margin-right: 15px;
	clear: both;
}
#buddypress div.activity-comments form.root {
	margin-left: 0;
}
#buddypress div.activity-comments div#message {
	margin-top: 15px;
	margin-bottom: 0;
}
#buddypress div.activity-comments form .ac-textarea {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 8px;
}
#buddypress div.activity-comments form textarea {
	border: none;
	background: transparent;
	box-shadow: none;
	outline: none;
	font-family: inherit;
	font-size: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
	width: 100%;
}
#buddypress div.activity-comments form input {
	margin-top: 5px;
}
#buddypress div.activity-comments form div.ac-reply-avatar {
	float: left;
	display: block;
	overflow: hidden;
}
#buddypress div.ac-reply-avatar img {}
#buddypress div.activity-comments form div.ac-reply-content {
	margin-left: 50px;
	padding-left: 15px;
}
#buddypress div.activity-comments form div.ac-reply-content a {
	text-decoration: none;
}
#buddypress .acomment-options {
	float: left;
	margin: 5px 0 5px 0;
}
#buddypress .acomment-options a {
	color: #bbb;
}
#buddypress .acomment-options a:hover {
	color: inherit;
}

/*--------------------------------------------------------------
3.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
#buddypress div.dir-search {
	float: right;
	margin: 0;
}
#buddypress div#group-dir-search,
#buddypress div#members-dir-search {
	float: none;
	text-align: center;
	margin: 30px auto;
}
#search-members-form,
#search-groups-form {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border-radius: 22px;
	border-style: solid;
	border-width: 1px;
	height: 33px;
  line-height: 30px;
	padding: 0 10px;
	min-width: 60%;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
	text-align: left;
}

#buddypress div#group-dir-search label,
#buddypress div#members-dir-search label {
	width:80%;
}
#buddypress div#group-dir-search input[type=text],
#buddypress div#members-dir-search input[type=text] {
	width:100%;
	height: 31px;
}

#buddypress div#group-dir-search input[type=text]:focus,
#buddypress div#members-dir-search input[type=text]:focus {
	color: #777;
}
#buddypress div.dir-search input[type=text] {}

#buddypress .dir-form {
	clear: both;
}
#buddypress #group-settings-form img {
	width: 50px;
}
#buddypress #group-settings-form .jcrop-holder img, 
#buddypress #group-settings-form #avatar-crop-pane img,
#buddypress #group-settings-form #avatar-to-crop
{
	width: auto;
}

#buddypress .avatar-crop-pane img {
	width: auto;
}
#buddypress #groups-list {
}
#buddypress #groups-list li {
	text-align: center;
	padding: 10px;
	display: inline-block;
	left: -2px;
}
#buddypress #groups-list .hidden {
    display: inherit !important;
    visibility: visible !important;
}
#buddypress #groups-list li.odd {}
#buddypress #groups-list li.even {}
#buddypress #groups-list .group-inner-list {
	padding: 30px 0 20px;	
	border-style: solid;
	border-width: 1px;
}
#buddypress #groups-list .item {
	padding: 20px 20px 0;
}
#buddypress #groups-list .item-avatar {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	border-style: solid;
	border-width: 5px;
}
#buddypress #groups-list .item-avatar .member-count {
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	font-size: 11px;
	line-height: 17px;
	padding: 0 6px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
}
#buddypress #groups-list .item-avatar.rounded img {
	float: none;
	border-radius: 100%;
}
#buddypress #groups-list .item-title {
	/*font-family: 'Roboto Condensed',sans-serif;*/
	font-size: 18px;
	font-weight: 100;
	width: 100%;
}

#buddypress #groups-list .item-meta {
}
#buddypress #groups-list li div.meta {
	display: inline-block;
}
#buddypress #groups-list .item-desc {
	margin: 10px 0;
	display: inline-block;
}

#buddypress #groups-list li div.action {
    position: relative;
		text-align: center;
		top: inherit;
		text-transform: uppercase;
}
#buddypress #groups-list li div.action .generic-button {
	display: inline-block;
	margin: 2px;
}

#buddypress #groups-list a.group-button {
	border-radius: 20px;
}
#buddypress #group-list li {
	border-bottom: 1px solid #e5e5e5;
}
#buddypress #group-list .item-avatar.rounded img {
	border-radius: 100%;
	margin-right: 10px;
}
#buddypress #group-list div.action .button {
	height: 30px !important;
	line-height: 30px !important;
	display: inline-block;
	font-size: 11px;
  text-transform: uppercase;
}
.breadcrumb .button.group-create.bp-title-button {
    display: none;
}
#buddypress #member-list img.avatar {
	border-radius: 100%;
	
}
#buddypress ul#member-list .member-list-content {
	margin-left: 90px;
}
#buddypress ul#member-list .member-list-content h5 {
	margin: 0;
	font-size: 13px;
}
/* Temporary fix */
#buddypress .kleo-isotope {
	overflow: visible !important;
	margin-bottom: 20px !important;
}

#buddypress #admins-list li,
#buddypress #mods-list li,
#buddypress #members-list li,
#buddypress #member-list li {
	display: block;
	padding: 10px;
}
#buddypress #friend-list .friend-inner-list,
#buddypress #member-list .member-inner-list,
#buddypress #members-list .member-inner-list {
	padding: 30px 0 20px;
	border-style: solid;
	border-width: 1px;
}
#buddypress #friend-list li div.item-avatar,
#buddypress #member-list li div.item-avatar,
#buddypress #members-list li div.item-avatar {
	float: left;
	display: block;
	border-radius: 3px;
	position: relative;
	margin: 0 20px 10px 10px;
}
#buddypress #friend-list .item-title,
#buddypress #member-list h5,
#buddypress #members-list .item-title {
	font-family: inherit;
	line-height: 20px;
	font-weight: bold;
	margin-left: 90px;
	padding-top: 10px;
}
#buddypress #friend-list .item-title a,
#buddypress #member-list h5 a,
#buddypress #members-list .item-title a {
	/*color: #444;*/
}
#buddypress #friend-list .item-meta,
#buddypress #member-list .item-meta,
#buddypress #members-list .item-meta {
	margin-left: 90px;
}
#buddypress #friend-list .update,
#buddypress #member-list .update,
#buddypress #members-list .update {
	line-height:24px;
	font-weight: 100;
	display: inline-block;
	width: 100%;
	padding: 0 20px;
	text-align: center;
	font-size: 14px;
	word-wrap: break-word;
}
#buddypress #members-list .update .activity-read-more {}
#buddypress #friend-list div.action,
#buddypress #member-list div.action,
#buddypress #members-list div.action {
	clear: both;
	position: relative;
	text-align: center;
	right: inherit;
}
#buddypress #friend-list div.action .generic-button,
#buddypress #member-list div.action .generic-button,
#buddypress #members-list div.action .generic-button {
	display: inline-block;
	margin: 2px;
}
#buddypress #friend-list div.action .generic-button a,
#buddypress #member-list div.action .generic-button a,
#buddypress #members-list div.action .generic-button a {
	border: none;
}
#buddypress #friend-list div.action .generic-button a.send-message,
#buddypress #member-list div.action .generic-button a.send-message,
#buddypress #members-list div.action .generic-button a.send-message {
	border-style: solid;
	border-width: 1px;
}
#buddypress #friend-list li div.item-avatar,
#buddypress #member-list li div.item-avatar,
#buddypress #members-list li div.item-avatar {
	border-style: solid;
	border-width: 5px;
	width: 60px;
	height: 60px;
}
#buddypress #friend-list li div.item-avatar img.avatar,
#buddypress #member-list li div.item-avatar img.avatar,
#buddypress #members-list li div.item-avatar img.avatar {
	border-radius: 100%;
	-webkit-border-radius: 100%;
}
#buddypress #members-list li div.item-avatar.square img.avatar {
	border-radius: 3px;
}
#buddypress #friend-list div.item,
#buddypress #members-list div.item,
#buddypress #member-list div.item {}

#buddypress #item-header-avatar {
	display: inline-block;
	position: relative;
	border-radius: 4px;
	border-style: solid;
	border-width: 12px;
	margin: 0 auto;
	box-shadow: 0 0 0 20px;
	transition: all 0.5s ease-in-out 0s;
	z-index: 10;
}
#buddypress #item-header-avatar img.avatar {
	width: 100%;
}
#buddypress #item-header-avatar.rounded img.avatar {
	border-radius: 100%;
}
#buddypress .kleo-online-status,
.kleo-members-carousel .kleo-online-status {
	position: absolute;
	z-index: 20;
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	border-style: solid;
	border-width: 3px;
	transition: all 0.5s ease-in-out 0s;
}
#buddypress .kleo-online-status {
	right: 0;
	bottom: 20px;
}
#buddypress .kleo-members-carousel .kleo-online-status {
	right: 7%;
	bottom: 7%;
}

#buddypress .rounded {
	border-radius: 100% !important;
}
#buddypress .rounded .hover-element,
#buddypress .kleo-rounded .hover-element {
	border-radius: 100%;
}
#buddypress .activity-header img.avatar {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	vertical-align: top;
	display: none;
}

.manage-members #buddypress #admins-list img.avatar,
.manage-members #buddypress #members-list img.avatar,
.manage-members #buddypress #mods-list img.avatar {
	border-radius: 100%;
	margin-right: 20px;
	/*width: 50px;
	height: 50px;*/
}
.manage-members #buddypress #admins-list li,
.manage-members #buddypress #members-list li,
.manage-members #buddypress #mods-list li {
	/*border-bottom: 1px solid #e5e5e5;*/
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.manage-members .member-name,
.manage-members .member-name a {
	/*color: #444;*/
}

.manage-members #buddypress .member-options {
	float: right;
	text-align: right;
}
.manage-members #buddypress .item-list .button {
	height: 30px !important;
	line-height: 30px !important;
	display: inline-block;
	font: normal 11px;
    text-transform: uppercase;
}




/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
#buddypress div#message {
	margin: 30px 0;
	position: relative;
	width: 100%;
	z-index: 20;
}

#buddypress #message.info {
	margin-bottom: 0;
}
#buddypress div#message.updated {
	clear: both;
}
#buddypress div#message p,
#sitewide-notice p {
	font-size: 90%;
	display: block;
	padding: 10px 15px;
}
#buddypress div#message.error p {
	background-color: #fcefef;
	border-left: 3px solid #EBCCD1;
	clear: left;
	color: #A94442;
}
#buddypress div#message.updated p {
	background-color: #f3ffdb;
	border-left: 3px solid #81c839;
	color: #250;
}
#buddypress .standard-form#signup_form div div.error {
	background: #faa;
	color: #a00;
	margin: 0 0 10px 0;
	padding: 6px;
	width: 90%;
}
#buddypress div.accept,
#buddypress div.reject {
	float: left;
	margin-left: 10px;
}
#buddypress ul.button-nav li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
}
#buddypress ul.button-nav li.current a {
	font-weight: bold;
}
#sitewide-notice #message {
	left: 2%;
	position: fixed;
	top: 1em;
	width: 96%;
	z-index: 9999;
}
#sitewide-notice.admin-bar-on #message {
	top: 3.3em;
}
#sitewide-notice strong {
	display: block;
	margin-bottom: -1em;
}

/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
#buddypress .standard-form textarea,
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form input[type=password],
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text] {
	/*background: transparent;*/
	border-style: solid;
	border-width: 1px;
	border-radius: 0;
	font: inherit;
	font-size: 100%;
	padding: 6px;
}
#buddypress .standard-form select {
	padding: 3px;
}
#buddypress .standard-form input[type=password] {
	margin-bottom: 5px;
}
#buddypress .standard-form label,
#buddypress .standard-form span.label {
	display: block;
	font-weight: bold;
	margin: 15px 0 5px 0;
}
#buddypress .standard-form div#invite-list label,
#buddypress .standard-form div#invite-list span.label {
	display: block;
	font-weight: bold;
	margin: 10px 0 5px 0;
}
#buddypress .standard-form div.checkbox label,
#buddypress .standard-form div.radio label {
	color: #888;
	font-size: 100%;
	font-weight: normal;	
	margin: 5px 0 0 0;
}
#buddypress .profile .standard-form div.checkbox label:first-child,
#buddypress #register-page .standard-form div.checkbox label:first-child,
#buddypress .profile .standard-form div.radio > label:first-child,
#buddypress #register-page .standard-form div.radio > label:first-child{
	margin-left: -20px;
	font-weight: bold;	
}
#buddypress .standard-form#sidebar-login-form label {
	margin-top: 5px;
}
#buddypress .standard-form input[type=text] {
	width: 75%;
}
#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password] {
	padding: 4px;
	width: 95%;
}
#buddypress .standard-form #basic-details-section input[type=password],
#buddypress .standard-form #blog-details-section input#signup_blog_url {
	width: 35%;
}
#buddypress .standard-form#signup_form input[type=text],
#buddypress .standard-form#signup_form textarea,
#buddypress .form-allowed-tags,
#buddypress #commentform input[type=text],
#buddypress #commentform textarea {
	width: 90%;
}
#buddypress .standard-form#signup_form div.submit {
	float: right;
}
#buddypress div#signup-avatar img {
	margin: 0 15px 10px 0;
}
#buddypress .standard-form textarea {
	width: 75%;
	height: 120px;
}
#buddypress .standard-form textarea#message_content {
	height: 200px;
}
#buddypress .standard-form#send-reply textarea {
	width: 97.5%;
}
#buddypress .standard-form p.description {
	color: #888;
	/*font-size: 80%;*/
	margin: 5px 0;
}
#buddypress .standard-form div.submit {
	clear: both;
	padding: 15px 0 0 0;
}
#buddypress .standard-form p.submit {
	margin-bottom: 0;
	padding: 15px 0 0 0;
}
#buddypress .standard-form div.submit input {
	margin-right: 15px;
}
#buddypress .standard-form div.radio ul {
	margin: 10px 0 15px 38px;
	list-style: disc;
}
#buddypress .standard-form div.radio ul li {
	margin-bottom: 5px;
}
#buddypress .standard-form a.clear-value {
	display: block;
	margin-top: 5px;
	outline: none;
}

#buddypress .standard-form #blog-details-section {
	clear: left;
}
#buddypress .standard-form input:focus,
#buddypress .standard-form textarea:focus,
#buddypress .standard-form select:focus {
	/*background: #fafafa;*/
	color: #555;
}

#buddypress .profile-settings {
	/*border-bottom: 1px solid #e5e5e5;*/
	padding: 10px 0;
}
#buddypress #settings-form {
	/*padding: 20px;*/
	padding-top: 20px;
}
.bbp-user-page.notifications #buddypress #settings-form,
.bbp-user-page.general #buddypress #settings-form {
	padding: 20px 10px;
}
#xprofile-settings-about-me,
#xprofile-settings-biography,
#xprofile-settings-work-experience,
#xprofile-settings-contact {
	/*border-bottom: 1px solid #e5e5e5;*/
}

#buddypress .profile-settings .title {
	margin-bottom: 10px;
}
#buddypress .profile-settings .profile-entry-data {
	display: inline-block;
	width: 100%;
}

#buddypress form#send-invite-form {
	margin-top: 20px;
}
#buddypress div#invite-list {
	height: 400px;
	overflow: auto;
	width: 100%;
	border: 1px solid #e5e5e5;
}
#buddypress button,
#buddypress a.button,
#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress ul.button-nav li a,
#buddypress div.generic-button a,
#buddypress .comment-reply-link {
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	outline: none;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	transition: all 0.4s ease-in-out 0s;
}
/*a.bp-title-button {
	border-radius: 20px;
	padding: 6px 10px;
	transition: all 0.4s ease-in-out 0s;
	font: 11px 'Open Sans', sans-serif;
	vertical-align: middle;
}
a.bp-title-button:hover {
}
a.bp-title-button:before {
	font: 120% "fontello";
	content: "\e982";
	text-align: center;
	line-height: inherit;
	line-height: 10px;
	margin-right: 5px;
}*/
.page-title a.button {
	border-radius: 20px;
	padding: 6px 10px;
	transition: all 0.4s ease-in-out 0s;
	font-size: 11px;
	vertical-align: middle;
}
.page-title a.button:hover {
}
.page-title a.button:before {
	font: 120% "fontello";
	content: "\e982";
	text-align: center;
	line-height: inherit;
	line-height: 10px;
	margin-right: 5px;
}
#buddypress button:hover,
#buddypress a.button:hover,
#buddypress a.button:focus,
#buddypress input[type=submit]:hover,
#buddypress input[type=button]:hover,
#buddypress input[type=reset]:hover,
#buddypress ul.button-nav li a:hover,
#buddypress ul.button-nav li.current a,
#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover {
	border-style: solid;
	border-width: 1px;
	outline: none;
	text-decoration: none;
}
#buddypress a.button.fav,
#buddypress a.button.unfav,
#buddypress a.button.delete-activity {
	border: none;
}
#buddypress a.button.fav:hover,
#buddypress a.button.unfav:hover,
#buddypress a.button.delete-activity:hover {
	background-color: transparent !important;
}
#buddypress a.button.fav,
#buddypress a.button.unfav {
	position: absolute;
	top: -7px;
	right: 0;
}
#buddypress a.button.fav:before,
#buddypress a.button.unfav:before,
#buddypress a.fav.bp-secondary-action:before,
#buddypress a.unfav.bp-secondary-action:before{
	font: 120% "fontello";
	content: "\e98d";
	text-align: center;
	line-height: inherit;
	line-height: 10px;
}
#buddypress a.button.unfav:before,
#buddypress a.unfav.bp-secondary-action:before{
	content: "\e811";
}
#buddypress a.button.fav:focus,
#buddypress a.button.unfav:focus,
#buddypress a.button.delete-activity:focus {
	box-shadow: none;
	background-color: transparent;
}
#buddypress a.button.bp-secondary-action.fav:focus {
	color: #bbb !important;
}
#buddypress a.button.fav:focus,
#buddypress a.button.unfav:focus {
	background-color: transparent !important;
}
#buddypress a.button.delete-activity {
	border: none;
}
#buddypress a.button.edit {
	display: inline-block;
}

#buddypress form.standard-form .left-menu {
	float: left;
}
#buddypress form.standard-form .left-menu img.avatar {
	border-style: solid;
	border-width: 1px;
}

#buddypress form.standard-form .left-menu #invite-list ul {
	list-style: none;
}
#buddypress form.standard-form div#invite-list ul {
	padding-left: 0;
}
#buddypress form.standard-form .left-menu #invite-list ul li,
#buddypress form.standard-form div#invite-list ul li {
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 10px;
}
#buddypress form.standard-form div#invite-list div.item-avatar {
	border-style: solid;
	border-width: 5px;
	border-radius: 3px;
	display: block;
	float: left;
	height: 60px;
	overflow: hidden;
	position: relative;
	width: 60px;
	z-index: 2;
}
#buddypress form.standard-form div#invite-list div.item-avatar img.avatar {
	margin: 0 10px 0 0;
}
#buddypress form.standard-form div#invite-list h4 {
	font-size: 16px;
	line-height: inherit;
	margin: 0;
}
#buddypress form.standard-form div#invite-list .invite-list-content {
	margin-left: 120px;
	padding: 10px 0;
}
#buddypress form.standard-form div#invite-list .activity {}
#buddypress form.standard-form div#invite-list .group-invites-status {
	font-size: 11px;
	color: #bbb;
}

#buddypress form.standard-form .main-column {
	margin-left: 190px;
}

#buddypress form.standard-form .main-column ul#friend-list {
	clear:none;
}
#buddypress form.standard-form .main-column ul#friend-list .item-avatar,
#buddypress form.standard-form div#invite-list .item-avatar {
	float: left;
	display: block;
	overflow: hidden;
	border-radius: 4px;
	width: 50px;
	height: 50px;
}
#buddypress form.standard-form .main-column ul#friend-list h4 {
	clear:none;
}

/* Overrides for embedded WP editors */
#buddypress .wp-editor-wrap a.button,
#buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=submit],
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset] {
	padding: 0 10px 1px;
}
/*--------------------------------------------------------------
3.6 - Ajax Loading
--------------------------------------------------------------*/
#buddypress a.loading,
#buddypress input.loading {
	-webkit-animation: loader-pulsate .5s infinite ease-in-out alternate;
	-moz-animation: loader-pulsate .5s infinite ease-in-out alternate;
	border-color: #aaa;
}
@-webkit-keyframes loader-pulsate {
	from {
		border-color: #aaa;
	}
	to {
		border-color: #ccc;
	}
}
@-moz-keyframes loader-pulsate {
	from {
		border-color: #aaa;
	}
	to {
		border-color: #ccc;
	}
}

#buddypress a.loading:hover,
#buddypress input.loading:hover {
    color: #777;
}
#buddypress input[type="submit"].pending,
#buddypress input[type="button"].pending,
#buddypress input[type="reset"].pending,
#buddypress input[type="submit"].disabled,
#buddypress input[type="button"].disabled,
#buddypress input[type="reset"].disabled,
#buddypress button.pending,
#buddypress button.disabled,
#buddypress div.pending a,
#buddypress a.disabled {
    border-color: #eee;
    color: #bbb;
    cursor: default;
}
#buddypress input[type="submit"]:hover.pending,
#buddypress input[type="button"]:hover.pending,
#buddypress input[type="reset"]:hover.pending,
#buddypress input[type="submit"]:hover.disabled,
#buddypress input[type="button"]:hover.disabled,
#buddypress input[type="reset"]:hover.disabled,
#buddypress button.pending:hover,
#buddypress button.disabled:hover,
#buddypress div.pending a:hover,
#buddypress a.disabled:hover {
	border-color: #eee;
    color: #bbb;
}

/*--------------------------------------------------------------
3.7 - Forums, Tables and Topics
--------------------------------------------------------------*/
#buddypress ul#topic-post-list {
	margin: 0;
	width: auto;
}
#buddypress ul#topic-post-list li {
	padding: 15px;
	position: relative;
}
#buddypress ul#topic-post-list li.alt {
	background: #f5f5f5;
}
#buddypress ul#topic-post-list li div.poster-meta {
	color: #888;
	margin-bottom: 10px;
}
#buddypress ul#topic-post-list li div.post-content {
	margin-left: 54px;
}
#buddypress div.topic-tags {
	font-size: 80%;
}
#buddypress div.admin-links {
	color: #888;
	font-size: 80%;
	position: absolute;
	top: 15px;
	right: 25px;
}
#buddypress div#topic-meta {
	margin: 0;
	padding: 5px 19px 30px;
	position: relative;
}
#buddypress div#topic-meta div.admin-links {
	right: 19px;
	top: -36px;
}
#buddypress div#topic-meta h3 {
	margin: 5px 0;
}
#buddypress div#new-topic-post {
	display: none;
	margin: 20px 0 0 0;
	padding: 1px 0 0 0;
}
#buddypress table.notifications,
#buddypress table.notifications-settings,
#buddypress table.profile-fields,
#buddypress table.wp-profile-fields,
#buddypress table.messages-notices,
#buddypress table.forum {
	width: 100%;
}
#buddypress table.notifications thead tr,
#buddypress table.notifications-settings thead tr,
#buddypress table.profile-fields thead tr,
#buddypress table.wp-profile-fields thead tr,
#buddypress table.messages-notices thead tr,
#buddypress table.forum thead tr {
	/*background: #f7f7f7;*/
}
#buddypress table#message-threads {
	clear: both;
	margin: 0;
	width: auto;
}
#buddypress table.profile-fields {
	margin-bottom: 20px;
}
#buddypress table.profile-fields:last-child {
	margin-bottom: 0;
}
#buddypress table.profile-fields p {
	margin: 0;
}
#buddypress table.profile-fields p:last-child {
	margin-top: 0;
}
#buddypress table.notifications tr td,
#buddypress table.notifications-settings tr td,
#buddypress table.profile-fields tr td,
#buddypress table.wp-profile-fields tr td,
#buddypress table.messages-notices tr td,
#buddypress table.forum tr td,
#buddypress table.notifications tr th,
#buddypress table.notifications-settings tr th,
#buddypress table.profile-fields tr th,
#buddypress table.wp-profile-fields tr th,
#buddypress table.messages-notices tr th,
#buddypress table.forum tr th {
	padding: 8px;
	vertical-align: middle;
}
#buddypress table.notifications tr td.label,
#buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label,
#buddypress table.wp-profile-fields tr td.label,
#buddypress table.messages-notices tr td.label,
#buddypress table.forum tr td.label {
	font-weight: bold;
	width: 25%;
	border-radius: 0;
	color: inherit;
	font-size: inherit;
	font-weight: normal;
	display: table-cell;
}
#buddypress table.profile-fields tr td.data {
	width: 75%;
}
#buddypress table tr td.thread-info p {
	margin: 0;
}
#buddypress table tr td.thread-info p.thread-excerpt {
	margin-top: 3px;
}
#buddypress table.forum td {
	text-align: center;
}
#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.forum tr.alt td {
	
}
#buddypress table.notification-settings {
	margin-bottom: 20px;
	text-align: left;
	width: 100%;
}
#buddypress #groups-notification-settings {
	margin-bottom: 0;
}
#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child {
	display: none;
}
#buddypress table.notification-settings th.title {
}
#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no {
	text-align: center;
	width: 40px;
}
#buddypress table.notifications th {
	font-weight: normal;
}
#buddypress table.notifications th.title {}
#buddypress table.notifications th.date {}
#buddypress table.notifications th.actions {
	text-align: center;
}

#buddypress table.notifications td.notify-text {}
#buddypress table.notifications td.notify-date {}
#buddypress table.notifications td.notify-actions {
	text-align: center;
}
#buddypress .read-notifications {}
#buddypress .read-notifications td.notify-text a {}
#buddypress .read-notifications table.notifications tr td {
	font-size: 12px;
}
#buddypress .unread-notifications td.notify-text a {
	font-size: 12px;
	font-weight: bold;
}
#buddypress .unread-notifications table.notifications tr td {
	font-size: 12px;
}

#buddypress table.notifications a.primary,
#buddypress table.notifications a.secondary {
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 0 10px;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	color: #bbb;
}

#buddypress table.forum {
	margin: 0;
	width: auto;
	clear: both;
}
#buddypress table.forum tr.sticky td {
	font-size: 110%;
	background: #fff9db;
	border-top: 1px solid #ffe8c4;
	border-bottom: 1px solid #ffe8c4;
}
#buddypress table.forum tr.closed td.td-title {
	padding-left: 35px;
}
#buddypress table.forum td p.topic-text {
	color: #888;
	font-size: 100%;
}
#buddypress table.forum tr > td:first-child,
#buddypress table.forum tr > th:first-child {
	padding-left: 15px;
}
#buddypress table.forum tr > td:last-child,
#buddypress table.forum tr > th:last-child {
	padding-right: 15px;
}
#buddypress table.forum tr th#th-title,
#buddypress table.forum tr th#th-poster,
#buddypress table.forum tr th#th-group,
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group,
#buddypress table.forum td.td-title {
	text-align: left;
}
#buddypress table.forum tr td.td-title a.topic-title {
	font-size: 110%;
}
#buddypress table.forum td.td-freshness {
	white-space: nowrap;
}
#buddypress table.forum td.td-freshness span.time-since {
	font-size: 80%;
	color: #888;
}
#buddypress table.forum td img.avatar {
	float: none;
	margin: 0 5px -8px 0;
}
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group {
	min-width: 140px;
}
#buddypress table.forum th#th-title {
	width: 80%;
}
#buddypress table.forum th#th-freshness {
	width: 25%;
}
#buddypress table.forum th#th-postcount {
	width: 15%;
}
#buddypress table.forum p.topic-meta {
	font-size: 80%;
	margin: 5px 0 0 0;
}

/*-------------------------------------------------------------------------
3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
-------------------------------------------------------------------------*/
#buddypress #avatar-crop-pane {
	border-radius: 100%;
}
#buddypress .item-body {
	margin: 20px 0;
}
#buddypress span.activity {
	display: inline-block;
	font-size: 11px;
	padding: 0;
	color: #bbb;
}
#buddypress span.user-nicename {
	color: #777;
	display: inline-block;
	font-size: 120%;
	font-weight: bold;
}
#buddypress div#message p,
#sitewide-notice p {
	font-weight: normal;
	margin-top: 3px;
	text-decoration: none;
	color: #8A6D3B;
	background-color: #fdfaec;
	border-left: 3px solid #FAEBCC;
	
}
#buddypress div#item-header {
	background: url(../../assets/img/heading.png) repeat-x 0 75px;
	text-align: center;
	transition: all 0.5s ease-in-out 0s;
	position: relative;
}
#buddypress div#item-header .toggle-header {
	display: inline-block;
	position: absolute;
	cursor: pointer;
	padding-left: 10px;
	right: 0;
	top: 66px;
	color: #bbb;
	text-align: center;
	transition: all 0.5s ease-in-out 0s;
}

#buddypress div#item-header div#item-header-content {
	margin-bottom: 40px;
}
#buddypress div#item-header div#item-header-content h4 {
	display: inline-block;
}
#buddypress div#item-header div#item-header-content span.activity {
	margin-left: 10px;
}
#buddypress div#item-header div#item-header-content #latest-update,
#buddypress div#item-header div#item-header-content p:first-child {
	margin-bottom: 20px;
}
#buddypress div#item-header div#item-header-content #item-buttons {
	text-align: center;
	font-style: normal;
}

#buddypress .bp-header-small #item-header img.avatar {width : 80px; margin-left:0; background: #fff;}
#buddypress .bp-header-small #item-header-avatar {border: 5px solid #f7f7f7;}
#buddypress .bp-header-small #item-header {background-position: 0 45px;}
#buddypress .bp-header-small #item-header .toggle-header { top : 36px;}
#buddypress .bp-header-small #item-header-avatar .kleo-online-status {width : 14px;height : 14px;bottom : 10px;}
#buddypress .bp-header-small .bp-toggle-less {display: none;}
#buddypress .bp-toggle-more {display: none;}
#buddypress .bp-header-small .bp-toggle-more {display: block;}

#buddypress div#item-header h2 {
	line-height: 120%;
	margin: 0 0 15px 0;
}
#buddypress div#item-header h2 a {
	color: #777;
	text-decoration: none;
}
#buddypress div#item-header img.avatar {
	width: 130px;
	transition: all 0.5s ease-in-out 0s;
}
#buddypress div#item-header h2 {
	margin-bottom: 5px;
}
#buddypress div#item-header h2 span.highlight {
	font-size: 60%;
	font-weight: normal;
	line-height: 170%;
	vertical-align: middle;
	display: inline-block;
}
#buddypress div#item-header h2 span.highlight span {
	background: #a1dcfa;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 2px;
	padding: 1px 4px;
	position: relative;
	right: -2px;
	top: -2px;
	vertical-align: middle;
}
#buddypress div#item-header div#item-meta {
	overflow: hidden;
	margin: 15px 0 5px 0;
	padding-bottom: 10px;
	font-size: 14px;
  line-height: 30px;
}
#buddypress div#item-header div#item-actions {
}
#buddypress div#item-header div#item-actions h3 {
	margin: 0 0 5px 0;
	font-size: 11px;
	color: #bbb;
	text-transform: uppercase;
	line-height: 32px;
}

#buddypress div#item-header div.group-admins {
	text-align: right;
}
#buddypress div#item-header div.group-admins h3 {
	display: inline-block;
}
#buddypress div#item-header div.group-mods {
	text-align: left;
}
#buddypress div#item-header div.group-mods h3 {
	float: left;
	display: inline-block;
}
#buddypress div#item-header ul#group-admins {
	float: right;
	padding-left: 10px;
}
#buddypress div#item-header ul#group-admins li {
	margin: 2px;
}
#buddypress div#item-header .group-admins.col-sm-12 {
    text-align: center;
}
#buddypress div#item-header .group-admins.col-sm-12 ul#group-admins {
    display: inline;
    float: none;
		text-align: center;
}
#buddypress div#item-header .group-admins.col-sm-12 ul li {
    display: inline-block;
    float: none;
    list-style: none outside none;
}
#buddypress div#item-header ul#group-mods {
	float: left;
	padding-left: 10px;
}
#buddypress div#item-header ul#group-mods li {
	margin: 2px;
}

#buddypress div#item-header ul {
	margin-bottom: 15px;
	overflow: hidden;
}
#buddypress div#item-header ul h5,
#buddypress div#item-header ul span,
#buddypress div#item-header ul hr {
	display: none;
}
#buddypress div#item-header ul li {
	float: right;
	list-style: none;
}
#buddypress div#item-header ul img.avatar,
#buddypress div#item-header ul.avatars img.avatar {
	height: 30px;
	width: 30px !important;
	border-radius: 100%;
}
#buddypress div#item-header div.generic-button,
#buddypress div#item-header a.button {
	display: inline-block;
	margin: 0 3px 5px;
}

#buddypress div.generic-button a {
	display: inline-block;
	font-size: 11px;
  text-transform: uppercase;
}
#buddypress div#item-header div#message.info {
	line-height: 80%;
}
#buddypress ul.item-list {
	width: 100%;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 20px 0;
}
body.activity-permalink #buddypress ul.item-list,
body.activity-permalink #buddypress ul.item-list li.activity-item {
	border: none;
}
#buddypress div#item-nav {
	height: 102px;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: inline-block;
	width: 100%;
	text-align: center;
}
#buddypress div#item-nav .responsive-tabs {
	height: 102px;
}
#buddypress div#item-nav {}

#buddypress div#item-nav .tabdrop .dropdown-menu {
  border-style: solid;
	border-width: 1px;
}
#buddypress div#item-nav .tabdrop .dropdown-menu li {
	float: none;
	text-align: left;
}
#buddypress div#item-nav .tabdrop .dropdown-menu li a {
	padding: 0 10px;
	height: 33px;
	line-height: 33px;
}
#buddypress div#item-nav .tabdrop .dropdown-menu li a:before {
	font: 22px "fontello";
	content: "\e8a3";
	float: left;
	line-height: inherit;
	margin-right: 10px;
}
#buddypress div#item-nav .tabdrop .dropdown-menu li.current a {}
#buddypress div#item-nav .tabdrop .dropdown-menu li a span {
	left: inherit;
	top: 6px;
	right: 10px;
	display: inline-block;
}
#buddypress div#item-nav .tabdrop .dropdown-menu li.current a {}
#buddypress div#item-nav .tabdrop .dropdown-menu li a span {
	box-shadow: none;
}
#buddypress div#item-nav li {
	position: relative;
}
#buddypress div#item-nav li:last-child {
	border-right: none;
}
#buddypress div#item-nav ul li a {
	padding: 15px 20px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: normal;
}
#buddypress div#item-nav ul li a:before {
	font: 400% "fontello";
	content: "\e8a5";
	display: block;
	text-align: center;
	transition: all 0.4s ease-in-out 0s;
}
#buddypress div#item-nav ul li.current a {}
#buddypress div#item-nav ul li.current a:before {}
#buddypress div#item-nav ul li.current a {}
#buddypress div#item-nav ul li a span {
	position: absolute;
	top: 10px;
	left: 52%;
	z-index: 12;
}
#buddypress div#item-nav ul li.dropdown {}

#buddypress div#item-nav ul #activity-personal-li a:before,
#buddypress div#item-nav ul #home-groups-li a:before {
	content: "\e8ed";
}
#buddypress div#item-nav ul #xprofile-personal-li a:before {
	content: "\e98e";
}
#buddypress div#item-nav ul #notifications-personal-li a:before {
	content: "\e863";
}
#buddypress div#item-nav ul #messages-personal-li a:before {
	content: "\e98c";
}
#buddypress div#item-nav ul #friends-personal-li a:before {
	content: "\e98f";
}
#buddypress div#item-nav ul #groups-personal-li a:before {
	content: "\e995";
}
#buddypress div#item-nav ul #forums-personal-li a:before,
#buddypress div#item-nav ul #nav-forum-groups-li a:before {
	content: "\e97b";
}
#buddypress div#item-nav ul #buddydrive-personal-li a:before,
#buddypress div#item-nav ul #nav-buddydrive-groups-li a:before {
	content: "\e8d7";
}
#buddypress div#item-nav ul #media-personal-li a:before,
#buddypress div#item-nav ul #rtmedia-media-nav-groups-li a:before {
	content: "\e8c5";
}
#buddypress div#item-nav ul #settings-personal-li a:before,
#buddypress div#item-nav ul #admin-groups-li a:before {
	content: "\e98b";
}
#buddypress div#item-nav ul li.dropdown a:before {
	content: "\e97c";
}
#buddypress div#item-nav ul #members-groups-li a:before {
	content: "\e995";
}
#buddypress div#item-nav ul #invite-groups-li a:before {
	content: "\e991";
}
#buddypress div#item-nav ul #achievements-personal-li a:before {
	content: "\e996";
}
#buddypress div#item-nav ul #blogs-personal-li a:before {
	content: "\e802";
}
#buddypress div#item-nav ul #articles-personal-li a:before {
	content: "\e870";
}
#buddypress div#item-nav ul #location-personal-li a:before {
	content: "\e99f";
}


#buddypress ul.item-list li {
	padding: 15px 0;
	margin: 0;
	position: relative;
	list-style: none;
}
#buddypress ul.single-line li {
	border: none;
}
#buddypress ul.item-list li img.avatar {
	float: left;
}
#buddypress ul.item-list li div.item-title,
#buddypress ul.item-list li h4 {
  margin-right: 20px;
}
#buddypress ul.item-list li div.item-title span {
	color: #999;
}
#buddypress ul.item-list li div.item-desc {
	color: #888;
}
#buddypress ul.item-list li div.action {
	/*position: absolute;
	top: 15px;
	right: 0;*/
	text-align: right;
}
#buddypress ul.item-list li div.meta {
	color: #bbb;
	font-size: 11px;
	margin-top: 10px;
}
#buddypress ul.item-list li h5 span.small {
	float: right;
	font-weight: normal;
}
#buddypress div.item-list-tabs {
	background: transparent;
	clear: left;
}

#buddypress div.item-list-tabs ul {
	position: inherit;
	margin-top: -2px;
	padding: 0;
}

/* TO DO - Webkit rendering fix */

#buddypress div.item-list-tabs ul li.dropdown.pull-right.tabdrop.open {
	position: absolute !important;
	right: 15px !important;
}

@media screen and (max-width: 480px) {
	#buddypress div.item-list-tabs ul li.dropdown.pull-right.tabdrop.open {
		position: relative !important;
		right: inherit !important;
	}
}


#buddypress div.item-list-tabs ul li {
	margin: 0;
	list-style: none;
	float: left;
}
#buddypress div.item-list-tabs ul li a {
	transition: all 0.4s ease-in-out 0s;
}
#buddypress div.item-list-tabs#subnav ul li {
	margin-top: 0;
}
#buddypress div.item-list-tabs#subnav ul li a {
	margin: 0 10px;
	padding: 8px 0 4px;
	border: 1px solid transparent;
	transition: all 0.4s ease-in-out 0s;
}
#buddypress div.item-list-tabs#subnav ul li.selected a,
#buddypress div.item-list-tabs#subnav ul li a:hover {
}
#buddypress div.item-list-tabs ul li.feed {
	display: none;
}
#buddypress div.item-list-tabs ul li.last {
	float: right;
	margin: 7px 0 0;
}
#buddypress div.item-list-tabs ul li:last-child {
	border-bottom: none;
}
#buddypress div.item-list-tabs#subnav ul li.last {
	margin-top: 4px;
}
#buddypress div.item-list-tabs#subnav ul li.last label {
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
}
#buddypress div.item-list-tabs#subnav ul li a span {
	border: none;
	background: none;
	margin-left: 0;
	padding-right: 0;
}
#buddypress div.item-list-tabs ul li.last select {
	max-width: 175px;
	/*opacity: 0;*/
}
.no-js #buddypress div.item-list-tabs ul li.last select {
	opacity: 1;
}
#buddypress span.theme-select {
	width: auto;
	min-width: 70px;
}
#buddypress div.item-list-tabs ul li a,
#buddypress div.item-list-tabs ul li span {
	display: block;
}
#buddypress div.item-list-tabs ul li a span {
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	line-height: 17px;
	margin-left: 4px;
	padding: 0 6px;
	text-align: center;
	font-size: 11px;
}
#buddypress div.item-list-tabs ul li.selected a span,
#buddypress div.item-list-tabs ul li.current a span {}
#buddypress div.item-list-tabs ul li.selected a span,
#buddypress div.item-list-tabs ul li.current a span,
#buddypress div.item-list-tabs ul li a:hover span {
	background-color: #eee;
}
#buddypress div.item-list-tabs ul li.selected a span,
#buddypress div.item-list-tabs ul li.current a span {
	background-color: #fff;
}
#buddypress div.item-list-tabs#subnav ul li.selected a,
#buddypress div.item-list-tabs#subnav ul li.current a {
	/*border-bottom-style: solid;
	border-bottom-width: 1px;*/
}
#buddypress div.item-list-tabs#subnav ul li.selected a span,
#buddypress div.item-list-tabs#subnav ul li.current a span {}


#buddypress div.item-list-tabs.activity-type-tabs a {}

#buddypress div#item-nav ul li.loading a {
	background-position: 88% 50%;
}
#buddypress div.item-list-tabs#object-nav {
	margin-top: 0;
}
#buddypress div.item-list-tabs#subnav {
	background: transparent;
	margin: 5px 0 0;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

/* Create Group */
#buddypress div#group-create-tabs {
	display: inline-block;
}
#buddypress div#group-create-tabs ul {
	padding: 40px 0 60px;
}
#buddypress div#group-create-tabs ul li {
	position: relative;
	height: 30px;
  line-height: 30px;
	padding: 0 6px;
}
#buddypress div#group-create-tabs ul li a {
	color: #bbb;
	text-transform: uppercase;
	font-size: 11px;
}
#buddypress div#group-create-tabs ul li:first-child a:before {}
#buddypress div#group-create-tabs ul li:last-child a:before {}
#buddypress div#group-create-tabs ul li.current:before {}
#buddypress div#group-create-tabs ul li.current a {
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	padding: 0 10px;
}


/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/
.mark-item {
  display: inline-block;
	float: left;
  line-height: 24px;
	height: 44px;
	padding: 10px 20px 10px 5px;	
  cursor: pointer;	
}

.mark-item + .mark-item {
  border-top: 1px solid #f0f2f3;
}

.checkbox-cb {
	visibility: hidden;
	position: absolute;
}

.checkbox-mark {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
	border-style: solid;
	border-width: 1px;
  border-radius: 3px;
}

.checkbox-mark:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -5px;
  height: 7px;
  width: 11px;
	border-style: solid;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox-cb:checked ~ .checkbox-mark {}

.checkbox-cb:checked ~ .checkbox-mark:before {
  display: block;
}


/*** END TASK LIST ***/

#buddypress ul.acfb-holder li.friend-tab {
    padding: 6px 7px;
}
#buddypress li.friend-tab:nth-child(2) img.avatar {
    margin-right: 6px;
}
#buddypress div.messages .thread-avatar {
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	display: block;
	float: left;
	position: relative;
	z-index: 2;
	overflow: hidden;
	width: 60px;
	height: 60px;
}
#buddypress div.messages .thread-avatar img.avatar {
	margin: 0 10px 0 0;
}
#buddypress ul.mesage-item {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	position: relative;
	padding: 10px 0 0;
	margin-bottom: 0;
}
#buddypress li.unread,
#buddypress li.read,
#buddypress li.alt.read {
	list-style: none;
	padding-bottom: 8px;
}
#buddypress li.unread div.thread-info a {
	font-weight: bold;
}
#buddypress li.read {
	color:#bbb;
}
#buddypress li span.unread-count {
	border-radius: 10px;
	border-style: solid;
  border-width: 2px;
	display: inline-block;
	line-height: 17px;
	padding: 0 6px;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left: 52px;
	z-index: 10;
	margin-left: 35px;
}
#buddypress span.thread-post-date {
	font-size: 11px;
	color: #bbb;
	float: right;
}
#buddypress div.thread-from {
	margin-left: 120px;
	font-size: 11px;
	color: #bbb;
}
#buddypress div.thread-info {
	margin-left: 120px;
	margin-bottom: 6px;
}
#buddypress div.thread-info p {
	margin: 0;
	line-height: 18px;
	font-size: 12px;
}
#buddypress div.thread-info a {
	color: #777;
	display: inline-block;
}
#buddypress div.thread-info .thread-excerpt {
	
}
#buddypress div.thread-otions {
}
#buddypress #message-threads {
	margin-bottom: 10px;
}
#buddypress #message-threads .button.confirm {
	margin-left: 120px;
	border-radius: 12px;
   font-size: 11px;
	text-transform: uppercase;
	padding: 3px 8px;
}


#buddypress div.item-list-tabs ul li a span.unread-count {}
#buddypress div.messages-options-nav {
	text-align: right;
}
#buddypress #message-thread .button.confirm {
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	display: inline-block;
}
#buddypress div#message-thread div.message-box {
	padding: 10px 0 0;
	clear: left;
}
#buddypress div#message-thread div.alt {}
#buddypress div#message-thread p#message-recipients {}
#buddypress div#message-thread img.avatar {}
#buddypress div#message-thread strong {}
#buddypress div#message-thread strong a {}
#buddypress div#message-thread strong span.activity {}
#buddypress div#message-thread div.message-metadata img.avatar {
	border-radius: 100%;
	border-style: solid;
	border-width: 5px;
	float: left;
}
#buddypress div#message-thread #message-subject {
	float: left;
	margin: 20px 20px 20px 0;
}
#buddypress div#message-thread #message-recipients {
	margin-top: 20px;
	float: left;
}
#buddypress div#message-thread #message-subject i {
	font-size: 62%;
	color: #bbb;
}
#buddypress div#message-thread div.message-header {
	margin-left: 90px;
	padding-top: 10px;
}
#buddypress div#message-thread div.message-content {
	margin-left: 90px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#buddypress div#message-thread div.message-options {}

#buddypress div#message-thread #send-reply img.avatar {
	border: none;
	float: left;
}
#buddypress div#message-thread #send-reply .send-reply {
	margin: 5px 0 10px 10px;
	display: inline-block;
}
#buddypress div#message-thread #send-reply div.message-content {
	margin: 10px 0;
	border-bottom: none;
}
#buddypress div#message-thread #send-reply div.message-box {
	margin-left: 90px;
}

#buddypress #message-threads img.avatar {}
#buddypress div.message-search {
	border-style: solid;
	border-width: 1px;
	border-radius: 22px;
	float: right;
	position: relative;
	height: 33px;
	line-height: 30px;
	padding: 0 5px 0 10px;
	margin-top: 10px;
}
#buddypress div.message-search input[type=text],
#buddypress div.dir-search input[type=text] {
	border: none;
	/*min-width: 120px;*/
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
	color: #bbb;
	font-weight: normal;
	background: transparent;
}
#buddypress div.message-search input[type=text] {
    padding: 0;
}
#buddypress div.message-search input[type=text]:focus,
#buddypress div.dir-search input[type=text]:focus {
	/*min-width: 80%;*/
	color: #777;
}
#buddypress div.message-search input[type=submit],
#buddypress div.dir-search input[type=submit] {
	border: none;
	text-indent: -9999em;
	background: url(../../assets/img/sprite.png) no-repeat;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	position: relative;
	float: right;
	margin-top: 3px;
}
#buddypress div.message-search input[type=submit]:hover,
#buddypress div.dir-search input[type=submit]:hover {
	background-position: -24px 0;
}


/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/

#buddypress div.profile {
	border-style: solid;
	border-width: 1px;
	padding: 40px 20px 20px;
	margin-top: 40px;
	display: inline-block;
	width: 100%;
}
#buddypress div.profile .dl-horizontal dt {
	width: 130px;
	margin: 0.85em 0;
}
#buddypress div.profile .dl-horizontal dd {
	margin-left: 150px;
}
#buddypress div.profile .dl-horizontal dd {
    margin-bottom: 0;
    padding-top: 0.85em;
}
#buddypress div.profile .dl-horizontal p {
    margin: 0;
}
#buddypress div.profile h4 {
	margin-bottom: auto;
	margin: 10px 20px;
}
#buddypress div.profile .bp-widget {
	
	padding-bottom: 20px;
}
#buddypress div.profile .bp-widget table {}
#buddypress #profile-edit-form ul.button-nav {
	margin-top: 15px;
	padding-left: 0;
}
#buddypress #profile-edit-form ul.button-nav li a {
	border: 0;
	background-color: transparent;
}
#buddypress #profile-edit-form ul.button-nav li a:hover {
	
}
#buddypress #profile-edit-form ul.button-nav li.current a {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-weight: normal;
	padding: 6px 0;
	border-radius: 0;
}
#buddypress #profile-edit-form .editfield {
	padding: 10px;
	margin: 10px 0;
	transition: all 0.3s ease-out;
}
#buddypress ul.radio li {
	list-style: none;
}
#buddypress #profile-edit-form .editfield:hover {
	/*background: #f7f7f7;*/
}
body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
	display: none;
}
#buddypress .field-visibility-settings {
	display: none;
	margin-top: 10px;
}
	body.no-js #buddypress .field-visibility-settings {
		display: block;
	}
#buddypress .current-visibility-level {
	font-weight: bold;
	font-style: normal;
}
#buddypress .field-visibility-settings,
#buddypress .field-visibility-settings-toggle,
#buddypress .field-visibility-settings-notoggle {
	color: #888;
	padding: 10px 0;
}
#buddypress .field-visibility-settings-toggle a,
#buddypress .field-visibility-settings a {
	/*font-size: 80%;*/
}
body.register #buddypress div.page ul {
	list-style: none;
}
#buddypress .standard-form .field-visibility-settings label {
	margin: 0;
	font-weight: normal;
}
#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
	font-style: italic;
}

/*--------------------------------------------------------------
3.11 - Widgets
--------------------------------------------------------------*/

.widget.buddypress div.item-avatar {
	float: left;
}
.widget.buddypress div.item-avatar img.avatar {
	float: left;
	margin: 0 8px 15px 0;
	border-radius: 100%;
	width: 30px;
	height: 30px;
}

.widget.buddypress div.item-title {
	font-weight: bold;
	line-height: 16px;
}
.widget.buddypress span.activity {
	display: inline-block;
	padding: 0;
}

.widget.buddypress div.item-options {
	margin: 0 0 1em 0;
	padding: 1em 0;
}

.widget.buddypress div.item{
	margin-left: 50px;
}
.widget.buddypress div.item-meta {
	line-height: 16px;
}
.widget.buddypress div.item-meta,
.widget.buddypress div.item-content {
	font-size: 11px;
}

.widget.buddypress ul.item-list img.avatar {
	height: 30px;
	margin-right: 10px;
	width: 30px;
	border-radius: 100%;
	border: none;
}
.widget.buddypress div.item-avatar img {
	height: 40px;
	margin: 1px;
	width: 40px;
}

.widget.buddypress div.avatar-block{
	overflow: hidden;
}

#bp-login-widget-form label {
	display: block;
	margin: 1rem 0 .5rem;
}
#bp-login-widget-form input[type="text"],
#bp-login-widget-form input[type="password"],
.bbp-login-form input[type="text"] {
	border-style: solid;
	border-width: 1px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background: transparent;
	width: 100%;
}

#bp-login-widget-submit {
  font-weight: normal;
	margin: 3px 0;
	min-width: 80px;
	border-radius: 2px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	
	padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	transition: all 0.4s ease-in-out 0s;
}
#bp-login-widget-submit {
	margin-right: 10px;
}

.main-color #bp-login-widget-submit:hover,
.alternate-color #bp-login-widget-submit:hover,
#bp-login-widget-submit:focus,
#bp-login-widget-submit:active {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
}

.bp-login-widget-user-avatar {
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 100%;
	border-style: solid;
	border-width: 5px;
}
.bp-login-widget-user-avatar img.avatar {
}

.bp-login-widget-user-links {
	padding-top: 10px;
}
.bp-login-widget-user-links > div {
	padding-left: 70px;
}

.bp-login-widget-user-link a {
	font-weight: bold;
}
.bp-login-widget-user-logout a {
	color: #777;
}
.bp-login-widget-user-logout a:after {
	content: " \2192";
}

.widget_display_stats dt {
	font-weight: normal;
	margin-right: 30px;
	float: left;
	width: 120px;
	padding: 6px 0;
}
.widget_display_stats dd {
	padding: 6px 0;
}
.widget_bp_groups_widget .item-list li,
.widget_bp_core_members_widget .item-list li,
.widget_bp_core_friends_widget .item-list li {
	display: inline-block;
	width: 100%;
}

.widget_bp_groups_widget,
.widget_bp_core_members_widget,
.widget_bp_core_friends_widget {
}
.widget_bp_groups_widget .item-options a,
.widget_bp_core_members_widget .item-options a,
.widget_bp_core_friends_widget .item-options a {
}
.widget_bp_groups_widget .item-options a.selected,
.widget_bp_core_members_widget .item-options a.selected,
.widget_bp_core_friends_widget .item-options a.selected {}


/*
User avatar in menu
*/
.kleo-bp-user-avatar img {width: 25px;}


/*--------------------------------------------------------------
4.0 - Media Queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 - Smartphones - landscape
--------------------------------------------------------------*/
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	/*-webkit-text-size-adjust: none;*/
}
@media screen and (max-width: 767px) {
	.rtmedia-container .rtmedia-list .rtmedia-list-item {
		margin: 4px 14px 40px 0 !important;
	}
	#buddypress div.profile .dl-horizontal dt {
		width: 110px;
		float: left;
		text-align: right;
	}
	#buddypress div.profile .dl-horizontal dd {
		margin-left: 130px;
	}
}
@media only screen and (max-width: 480px ){
	#buddypress div.dir-search {
		float: right;
		margin-top: -50px;
		text-align: right;
	}
	#buddypress div.dir-search input[type="text"] {
		margin-bottom: 1em;
		width: 50%;
	}
	/*a.bp-title-button {
		margin-left: 10px;
	}*/
	#buddypress form.standard-form .main-column div.action{
		position: relative;
		margin-bottom:1em;
	}
	#buddypress form.standard-form .main-column ul#friend-list h4{
		width:100%;
	}
	
	/* Custom added */
	#buddypress .activity-list .activity-content {
		margin: 0
	}
	#buddypress .activity-header {
		margin: 0 20px 20px 80px !important;
	}
	#buddypress .activity-list .activity-avatar {
		box-shadow: 0;
		margin-left: 0;
	}
	#buddypress .activity-timeline {
		display: none;
	}
	
	.rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail img {
		width: 100% !important;
		max-width: none !important;
		max-height: none !important;
	}
	#buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item {
		width: 100% !important;
		height: auto !important;
	}
	.rtmedia-container .rtmedia-list .rtmedia-list-item {
		margin: 10px 0 !important;
	}
	
	
	#buddypress div.item-list-tabs ul {
		width: 100%;
	}
	
	.no-js #buddypress .responsive-tabs li {
		border: 1px solid #e5e5e5;
		width: 33.33333333333333% !important;
		margin-right: -1px;
		margin-bottom: -1px;
	}
	
	#buddypress .responsive-tabs li {
		width: inherit !important;
	}
	.no-js #buddypress .responsive-tabs li a {
		white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
	}
	.no-js #buddypress div#item-nav li:last-child {
		border: 1px solid #e5e5e5;
	}
	.no-js #buddypress div#item-nav {
		padding-bottom: 20px;
	}
	
	
	#buddypress div.item-list-tabs#subnav {
		padding-bottom: 15px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	#buddypress div.item-list-tabs#subnav ul li a {
		margin: 0 5px;
	}
	#buddypress div.profile .dl-horizontal dt,
	#buddypress div.profile .dl-horizontal dd {
		width: 100%;
		margin-left: 0;
		text-align: left;
	}
	#buddypress #groups-list .item {
		padding: 20px 0 0;
	}
	
	/* rtMedia Plugin */
	#rtm-gallery-title-container .rtm-gallery-title {
		text-align: center;
		margin: 20px 0 !important;
		width: 100% !important;
		font-size: 28px;
	}
	#rtm-gallery-title-container #rtm-media-options {
		display: block !important;
		width: 100% !important;
		float: none !important;
		text-align: center;
	}
	#rtm-gallery-title-container #rtm-media-options > span {
		padding: 0 10% !important;
	}
}

/*--------------------------------------------------------------
4.2 - Smartphones - portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
	#buddypress div.dir-search {
		clear: left;
		float: left;
		margin-top: 0;
		text-align: left;
	}
	#buddypress li#groups-order-select {
		clear: left;
		float: left;
	}
	#buddypress ul.item-list li div.action {
		clear: left;
		float: left;
		margin-top: 0;
		margin-left: 70px;
		position: relative;
		top: 0;
		right: 0;
		text-align: left;
	}
	#buddypress ul.item-list li div.item-desc {
		clear: left;
		float: left;
		margin: 10px 0 0;
		width: auto;
	}
	#buddypress li div.item {
		margin-left: 70px;
		width: auto;
	}
	#buddypress ul.item-list li div.meta {
		margin-top: 0;
	}
	#buddypress .item-desc p {
		margin: 0 0 10px;
	}
	#buddypress div.pagination .pag-count {
		margin-left: 0;
	}
}

/*--------------------------------------------------------------
4.2 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
@media only screen and (max-width: 240px) {
	#buddypress div.dir-search {
		float: left;
		margin: 0;
	}
	#buddypress div.dir-search input[type="text"] {
		width: 50%;
	}
	#buddypress li#groups-order-select {
		float: left;
	}
	#buddypress ul.item-list li img.avatar {
		width: 30px;
		height: auto;
	}
	#buddypress ul.item-list li div.action,
	#buddypress li div.item{
		margin-left: 45px;
	}
	/*h1 a.bp-title-button {
		clear: left;
		float: left;
		margin: 10px 0 20px;
	}*/
}
