tr.bottom-border td {
    border-bottom: 1px solid #ccc;
}
.redux-main .redux-typography-container .select_wrapper.typography-align {display: none;}

.redux-container-image_select .redux-image-select img {
    width: 100% !important;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
    background: #222;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
    background: #444;
}

/* Visual composer */

.vc-element-icon.icon-wpb-woocommerce_order_tracking, 
.vc-element-icon.icon-wpb-add_to_cart,
.vc-element-icon.icon-wpb-product, 
.vc-element-icon.icon-wpb-products, 
.vc-element-icon.icon-wpb-product_categories, 
.vc-element-icon.icon-wpb-product_category, 
.vc-element-icon.icon-wpb-recent_products, 
.vc-element-icon.icon-wpb-featured_products, 
.vc-element-icon.icon-wpb-woocommerce_messages, 
.vc-element-icon.icon-wpb-woocommerce_cart, 
.vc-element-icon.icon-wpb-woocommerce_checkout, 
.vc-element-icon.icon-wpb-woocommerce_my_account, 
.vc-element-icon.icon-wpb-woocommerce_edit_address, 
.vc-element-icon.icon-wpb-woocommerce_change_password, 
.vc-element-icon.icon-wpb-woocommerce_view_order, 
.vc-element-icon.icon-wpb-woocommerce_pay, 
.vc-element-icon.icon-wpb-woocommerce_thankyou {
    background-image: url("images/vc_woo_icon.png");
    background-position: 0 0;
}

.vc-element-icon.kleo-bp-icon,
.vc_element-icon.kleo-bp-icon,
.vc-element-icon.bp-icon,
.vc_element-icon.bp-icon {
    background-image: url("images/vc_bp_icon.png");
    background-position: 0 0;
}

.wpb_content_element.wpb_kleo_bp_groups_masonry > .wpb_element_wrapper .vc_element-icon,
.wpb_content_element.wpb_kleo_bp_groups_carousel > .wpb_element_wrapper .vc_element-icon,
.wpb_content_element.wpb_kleo_bp_groups_grid > .wpb_element_wrapper .vc_element-icon,
.wpb_content_element.wpb_kleo_bp_members_carousel > .wpb_element_wrapper .vc_element-icon,
.wpb_content_element.wpb_kleo_bp_members_masonry > .wpb_element_wrapper .vc_element-icon,
.wpb_content_element.wpb_kleo_bp_members_grid > .wpb_element_wrapper .vc_element-icon,
.wpb_content_element.wpb_kleo_bp_activity_page > .wpb_element_wrapper .vc_element-icon,
.wpb_content_element.wpb_kleo_bp_activity_stream > .wpb_element_wrapper .vc_element-icon {
    background: url("images/vc_bp_icon.png") no-repeat scroll 0 0 #FFFFFF;
}