/*
Theme Name:     Kleo Child
Theme URI:
Description:    Child theme for Kleo
Author:         SeventhQueen
Author URI:     http://seventhqueen.com
Template:       kleo
Tags:  one-column, two-columns, right-sidebar, fluid-layout, custom-menu, featured-images, post-formats, sticky-post, translation-ready
License: GNU General Public License
License URI: license.txt
*/

/*
* Please add your custom styles below
*/

/* Make all bold tags a darker color */
b, strong {color:#444444;}

/* Make bold tags deep red */
.bbp-reply-content strong {color:#444444;}

/* Align the "freshness" forum column heading to the right */
ul.forum-titles li.bbp-forum-freshness {text-align:right;}

/* Make the forum column titles more prominent */
ul.forum-titles li, 
li.bbp-header .bbp-reply-author,
li.bbp-header .bbp-reply-content 
{ 
font-size:14px; 
color: #444444;
font-weight:bold;
}

/* Forum titles */
li.bbp-forum-info a.bbp-forum-title {
color: #3399cc !important;
}

/* Make username and password fields the same length in sidebar widget */
div.bbp_widget_login input#user_pass, .bbp_widget_login input[type="password"]
{
 width: 100% !important;
}

/* Centrally align the Facebook login and normal login buttons */
.bbp-login-form .bbp-submit-wrapper {
    width: 100% !important;
}

.bbp-login-form .bbp-submit-wrapper {
	text-align: center !important;
}

/* Make provate replies a lighter shade of blue */
.topic .bbp-private-reply {
    background: none repeat scroll 0 0 #cfedff !important;
}

/* Make the forum 'Freshness' date and time a darker grey */
#bbpress-forums li.bbp-body li.bbp-forum-freshness a, #bbpress-forums li.bbp-body li.bbp-topic-freshness a {
    color: #777777 !important;
	font-size:14px !important;
}

/* Make the forum reply header a darker grey */
.bbp-reply-header .bbp-meta {color: #777777 !important;}

/* Show the line <p>You must be logged in to reply to this topic.</p> at the bottom of topics */
/* They should implement this in the next KLEO update so test and remove afterwards */

.bbp-no-reply .bbp-template-notice {
	/*display: none !important; this line is in wp-content/themes/kleo/bbpress/css/bbpress.css ---- see http://seventhqueen.com/support/forums/topic/display-links-in-forums-for-not-logged-in-user#post-26424*/
	/*display: block!important;*/
}

/* Increase spacing slightly between forum title and list of sub-forums */
ul.bbp-forums-list {
    margin-top: 10px !important ;
}

/* Hide main page title on custom forum index page */
body.forum-archive h1.page-title {display:none;}

/* --------------- */
/* --------------- */
/* MASONRY STYLES  */

/* Hide Meta info (tags etc) on Masonry listings */
/*article.kleo-masonry-item div.post-content div.post-header span.post-meta { display:none !important;}*/
div.kleo-masonry div.post-content div.post-header span.post-meta { display:none !important;}

/*div.masonry-listing, div.masonry-listing article {background-color:#f7f7f7 !important;}*/

div.masonry-listing article {background-color:#f7f7f7 !important;}

/*div.row div.kleo-masonry {padding:12px 12px 12px 12px !important;}*/

/* Reset the inside of the masonry blocks to white bg */
div.masonry-listing .post-content, div.masonry-listing article .post-content {background-color:#ffffff !important;}

/* Styles for the Masonry Grey Background */
/*div.masonry-listing .masonry { background-color:#f7f7f7 !important;}
article.kleo-masonry-item { background-color:#f7f7f7 !important;}
article.kleo-masonry-item div.post-content { background-color:#ffffff !important;}*/



/* END MASONRY STYLES */
/* ------------------ */
/* ------------------ */



/* Registration page */

/* Hide the line "This field can be seen by: Only Me" after the T&Cs checkbox */
#field-visibility-settings-toggle-8 { display:none !important;}

/* Hide Status Updates on wegozo.com/members as they are not respecting privacy settings and are available to NON-LOGGED-IN VISITORS */
div.member-inner-list span.update {display:none !important;}

/* Hide Status Updates on wegozo.com/members/tomwilkinson etc. as they are not respecting privacy settings and are available to LOGGED-IN MEMBERS but NOT FRIENDS */
div#item-header-content div#latest-update {display:none !important;}



